[2012-05-10 04:55] gotwarlost opened #6 "Any chance you could add a license?"
I really need to use this kick-ass module but I work in a setting where people look for licenses etc.

Any chance you could add a license so that I could use it? MIT would be preferable.

Thanks in advance.
Krishnan

[2012-06-19 23:50] #6 closed, assigned to nobody

[2012-06-30 17:54] marcelklehr opened #9 "path.exists became fs.exists"
Your `isFile` implementation uses

[code]

which has become [deprecated](https://github.com/joyent/node/wiki/API-changes-between-v0.6-and-v0.8)

[2012-08-29 13:51] fb55 opened #15 "Add `domain` package"

[2013-01-01 17:03] AndreasMadsen opened #17 "Is this module maintained"
@substack could you by any change merge the pull requests?

[2013-02-18 07:40] #17 closed, assigned to nobody

[2013-02-18 07:41] #9 closed, assigned to nobody

[2013-02-18 07:43] #15 closed, assigned to nobody

[2013-03-19 14:03] Meettya opened #18 "Error in async mode and strange benchmark test"
Hi!
For some reason I write my own require.resolve() implementation and use yours and some other for benchmarking.

So, today I saw async mode in node-resolve and add it to test suite. And its sometime works, and sometime not.

See yourself - add https://github.com/Meettya/node-resolve/commit/04d85e5769434804ffd9bd29072be3c509230032

`npm install node-bench -g`
`npm install lodash`

and run test f

[2013-05-10 21:45] SLaks opened #19 "opts.extensions should include '.json'"
Node's `require()` can resolve JSON files without passing the extension.

[2013-06-16 03:07] thlorenz opened #22 "resolving with pkg metadata breaks browserify"
Here is the command I'm running from [level-dump](https://github.com/thlorenz/level-dump) to get the following error:

[code]

To reproduce just clone that repo and repeat the above step.

[2013-07-20 16:29] michaelficarra opened #25 "fails to resolve packages with the same name as core modules"
This causes problems when trying to resolve the `punycode` or `querystring` modules, which are both also node core modules.

[2013-08-03 17:20] #22 closed, assigned to nobody

[2013-09-11 15:47] fresheneesz opened #33 "resolve silently eats unknown exceptions"
There are a couple places where resolve eats exceptions. This is simply not acceptable. This wasted a good 30 minutes of my time, and it could have been much worse. Unknown exceptions _always_ need to be propagated.

In sync.js, exceptions are eaten on the following lines:

12: catch (err) { if (err && err.code === 'ENOENT') return false }
64: catch (err) {}

in async.js:
81: catch (err) {}

[2013-09-18 09:43] ForbesLindesay opened #34 "Doesn't work in windows azure"
This module seems to fail in windows azure, I'm still trying to work out why but I have the following stack trace:

[code]

[2013-11-26 20:35] #25 closed, assigned to nobody

[2013-11-27 11:02] #34 closed, assigned to nobody

[2013-12-05 18:27] searls opened #38 "Add an option to #sync to not throw on resolution failure"
Sometimes I don't particularly care when resolution fails (suppose that the whole reason I'm using the module is to speculate not only _where_ but _whether_ a given module name is resolvable). In my case, it'd be nice to be able to hand the `sync` method an option by which it wouldn't throw an error upon failure.

Thoughts, @substack?

[2013-12-31 21:38] shlevy opened #39 "resolve.sync doesn't respect NODE_PATH"
There is an inconsistency in how `resolve.sync` and `require.resolve` resolve paths:

[code]

[2014-07-07 06:44] blakeembrey opened #49 "Expose more internal resolve logic"
A lot of the functions in both `lib/async.js` and `lib/sync.js` would be useful to reuse. I want to write a quick `resolve-glob` module (using this and glob), but right now that'll result in me copying/duplicating 90% of the logic that already exists here. Would you be open to a PR to correct this?

[2014-09-16 18:39] fresheneesz opened #51 "node-resolve incorrectly resolves module-paths like "./someFolder/" when there is a file of the same name"
I have a situation (real-world, this exists in the http-proxy module), where the following two things are in the same directory:

http-proxy.js - a file
http-proxy - a folder containing an 'index.js' file

http-proxy.js contains  `require('./http-proxy/')`, which node.js resolves to `./http-proxy/index.js`. `node-resolve` on the other hand, incorrectly resolves it to `./http-proxy.js`.

[2014-09-16 18:43] fresheneesz opened #52 "Many failing tests on windows 8.1"
I'm on Windows 8.1, node v0.10.29, and _all_ test files have failing asserts except `core.js`.

[2014-11-13 23:34] contra opened #58 "exclude test folder from npm publish?"
npm install in a plane/train/developing nation is difficult

[2014-12-03 20:20] jmm opened #60 ""Error: Cannot find module" output should include filename"
When using browserify and there's a problem with the path to a module, I get error output like:

[code]

There may be any number of files in `subdir` that were trying to require the module. It would be really helpful for the error output to include the filename that contained the `require()` call instead of just the path to the dir it resides in.

[2014-12-11 01:39] #38 closed, assigned to nobody

[2014-12-22 16:42] tkellen opened #61 "drive letter casing is inconsistent with node 0.11x"
in node 0.11.14, executing

[code]

outputs:

[code]

ref gulpjs/gulp#664

[2015-01-19 05:08] justinbmeyer opened #62 "Support "browser" deep module references"
I would like to support re-pathing "deep" directory references with the browser config.  This was brought up [here](https://github.com/defunctzombie/node-browser-resolve/issues/51)  in node-browser-resolve. And it was [suggested here](https://github.com/defunctzombie/node-browser-resolve/issues/51#issuecomment-70414838) that the changes partly belong in node-resolve.

To make this change, I will n

[2015-01-19 18:41] justinbmeyer commented on #62
Actually, it seems that loadAsFile will need this behavior too.

[2015-01-20 21:16] jmm commented on #60
This can be fixed if browser-resolve will pass through the original options it's called with. See defunctzombie/node-browser-resolve/pull/52. If you'd like to see this fixed please voice your support there.

[2015-01-20 23:01] jmm commented on #60
@defunctzombie merged defunctzombie/node-browser-resolve/pull/52 to pass through the options, so I'll be working on a PR here for this.

[2015-01-30 05:17] mattfysh opened #66 "Possible loadAsFile inconsistencies"
It seems that if resolving a path that matches the regexp
e.g. ./node_modules/jquery/jquery.min - then loadAsFile(String, Function) is called
however if the id takes format of "jquery/jquery.min", then loadAsFile(String, undefined, Function) is called

This results in opts.package being used only when the RegExp is matched. This has an upstream effect on browser-resolve and module-deps whereby if

[2015-01-30 05:49] mattfysh commented on #66
@jaredhanson any thoughts on this one? I had a look at the changeset and it looks like it was a conscious choice to send undefined as 2nd param if id does not match regexp.

[2015-02-10 05:22] skandasoft opened #68 "doesn't seem to be working - global modules"
In the node prompt I typed

[code]

But I am able to require gulp from node...This is a global module..

[2015-02-10 08:22] mantoni opened #69 "v1.1.0 breaks browserify API"
I'm listening for `package` events in browserify and I'm using `pkg.__dirname` [as documented](https://github.com/substack/node-browserify#bpipelineonpackage-function-pkg-).
With the latest release of this package, the `__dirname` points to all sorts of things. Sometimes the parent directory of the entry point, sometimes a `.js` file and in other cases it's correct.

Downgrading this module in my

[2015-02-11 07:56] mattfysh commented on #69
Appears to have broken in https://github.com/substack/node-resolve/commit/caff2ba60dc5d85eaded388dc6025afd05ba183b

the packageFilter is now getting triggered when loading as a file, previously this would only trigger for loading directories. the module-deps package gets confused by all the extra callbacks triggered, and will emit an incorrect pkg.__dirname in its 'package' event. I will shrinkwra

[2015-02-13 19:36] mattfysh commented on #69
any thoughts on this one? or does this need to be fixed further upstream?

[2015-02-17 03:46] substack commented on #69
I'm working on some patches to resolve and module-deps that should address these issues.

[2015-02-17 19:52] substack commented on #69
I've fixed this bug and added some test cases to the suite for package events. Now I'm just waiting for https://github.com/defunctzombie/node-browser-resolve/issues/56

[2015-02-24 14:28] mantoni commented on #69
Yes, I can confirm that it's working fine again, also with browserify 8.1.3.
Thanks!

[2015-02-24 14:28] #69 closed

[2015-02-24 16:46] dominykas opened #72 "Regression: resolve@1.1.5 no longer resolves index.js in exposed directories"
I'm not sure how things are wired up, but I've some failing tests for `browserify` here: https://github.com/substack/node-browserify/pull/1139

If resolve@1.1.2 is installed, the relevant tests pass. I believe it broke in 1.1.4 - but I might be wrong here.

[2015-03-11 15:15] matthewp opened #76 "Deep references no longer working"
https://github.com/substack/node-resolve/issues/62 added the ability to reference modules deeply with "browser".  It seems that functionality is no longer working. For example `deep/ref` will work but `very/deep/ref` will not.

I think the reason is this regular expression: https://github.com/substack/node-resolve/blob/master/lib/async.js#L109

I assume this is intended to chop off the back but in

[2015-03-11 16:45] matthewp commented on #76
I'm unsure about the intent of this code.  This is where the bug occurs:

[code]

This will cause recursion like:

[code]

I would assume what you really want is:

[code]

But in that case why a regex and not path.dirname?  That leads me to believe my assumption about what this code is trying to do might be wrong. I updated this regex with one that does what I think it should do but that breaks a

[2015-03-11 17:11] matthewp commented on #76
I've added a breaking test.  Using a different regex or path.dirname will fix this issue but cause other tests to fail which seem to depend on this bug.  I'm going to try and investigate what they are doing.

[2015-03-11 17:26] matthewp commented on #76
Ok, after looking at the failing tests they were checking if a pkg was found (expecting it not to be) but I don't think this is a necessary part of the tests. The precedence test is verifying that precedence is given to folder/index.js and that is working.  Submitting a PR.

[2015-03-15 19:56] #76 closed

[2015-03-20 17:24] jmm commented on #58
I don't know how it'll be resolved, but #44 includes this.

[2015-03-20 23:58] Joris-van-der-Wel opened #78 "Relative basedir on windows fails to resolve anything"
The following will fail (windows 8.1):

[code]

However, it works properly if I do the following instead:

[code]

It looks like something is going wrong here: [node-modules-paths.js:8](https://github.com/substack/node-resolve/blob/9d6b7af28c054676d6ea8a5037353ed750ea13bb/lib/node-modules-paths.js#L8)

If I log the paths that are being created at [line 26](https://github.com/substack/node-resolve/

[2015-04-21 08:29] dominykas commented on #72
Seems fixed in 1.1.6

[2015-04-21 08:29] #72 closed

[2015-04-28 17:57] stefanpenner opened #79 "sync should rethrow if stat throws (but not ENOENT)"
https://github.com/substack/node-resolve/blob/1.1.6/lib/sync.js#L9-L11

It is possible for `fs.statSync` to fail do for reasons other then ENOENT. As such, we should re-throw or we end up with an un-related error do  to the stat object being missing: https://github.com/substack/node-resolve/blob/1.1.6/lib/sync.js#L1

note this would also fix the a-symmetry with async – which correctly handles the

[2015-04-28 18:26] stefanpenner commented on #79
A followup question should be, does this mysterious UnknownError also mean "ENOENT" and should actually throw the missing module error.

Should we dig into this further upstream? What should node do here.

[2015-05-01 15:13] callumacrae commented on #39
This is still an issue. I'll send a failing test case.

[2015-07-09 20:07] iambumblehead commented on #49
Yes, it would be great if node-resolve could be used directly to compose other modules. Keeping the internal methods private makes it un-usable for this.

[2015-08-03 14:26] TrySound opened #82 "npmignore"
Add please `test` to npmignore

[2015-08-20 08:37] carenas commented on #39
still see the same inconsistency when using node-resolve 0.3.1, this affects sequelize-cli as can be seen in https://github.com/sequelize/cli/issues/104

[2015-09-25 13:16] nantunes commented on #68
I'm experiencing the same issue.

[2015-11-15 06:16] krainboltgreene opened #84 "'Cannot find module` not telling me the "why""
Turns out the library didn't have the file listed in it's `main` property on `package.json` (due to another reason).

[2015-12-04 13:54] oliver---- commented on #60
We would also love to see this fixed. What is the state of #64. Will it be merged eventually?

[2015-12-24 20:45] #82 closed

[2016-01-11 22:43] nucliweb commented on #84
Yes, the library to import need a `main` property in the `package.json`

[2016-01-11 22:55] krainboltgreene commented on #84
That isn't relevant to this issue. The library has a `main` property in `package.json`, but the path is invalid.

[2016-01-12 10:23] nucliweb commented on #84
Do you have a repo for see the structure of files and dependencies?

[2016-01-16 16:19] rahatarmanahmed opened #89 "Returns undefined for malformed JSON"
[code]

It should probably return an error about the JSON syntax error.

[2016-01-17 05:49] vivanov1410 commented on #68
+1

[2016-01-22 14:49] mishoo78 opened #90 "cannot resolve paths with extentions .min.js"
I believe it should be able to find paths that end with .min.js

[2016-02-05 22:24] jmm commented on #60
Made a plugin for this: https://www.npmjs.com/package/browserify-require-not-found-parent

[2016-02-18 21:22] caccialdo opened #93 "Add support for libs that only contain `jsnext:main` prop in package.json"
Currently the only way `node-resolve` resolves a package directory is if the related `package.json` file contains a `main` property.

cf. https://github.com/substack/node-resolve/blob/master/lib/async.js#L147

Would be great to support future libs that only contain the `jsnext:main` prop.

[2016-03-15 08:18] dsilva commented on #39
This issue breaks eslint_d per https://github.com/mantoni/eslint_d.js/issues/36

[2016-03-15 16:12] dsilva commented on #39
Restoring consistency here between resolve.sync and require.resolve should be a matter of defaulting the "paths" option to require('module').globalPaths, right?

[2016-03-29 09:28] iFedaka commented on #89
It's because this file: [async.js](https://github.com/substack/node-resolve/blob/master/lib/async.js)
ignores errors
[code]

[2016-04-18 01:14] cpojer opened #96 "`node-modules-paths.js` adds `undefined` as last item to its array."
`node-modules-paths.js` adds `undefined` as last item to its array. This is probably a bug :)

Repro: nodeModulesPaths(__dirname, {});

[2016-05-03 17:25] zhanzhenzhen opened #98 "Error on Node.js 6.0.0"
I'm using browser-resolve, but think the problem may be in this package. On Node.js 6.0.0 it completely doesn't work. It says: "Path must be a string. Received undefined".

[2016-05-05 14:21] zhanzhenzhen commented on #98
@substack Could you have a look at this issue?

[2016-05-06 21:17] zhanzhenzhen commented on #98
Sorry just find this package is OK.

[2016-05-06 21:17] #98 closed

[2016-06-03 12:09] huerlisi opened #102 "`extensions` not respected if `main` package file entry is found"
There's is the `extensions` option to specify what extensions the file we want to resolve needs to have. This is not respected when the target is also the name of a module and that module has a `main` field in the `package.json`.

In my opinion the file specified in `main` should only be used if it satisfies the `extensions` filter.

[2016-07-21 17:23] samvv commented on #19
I would like to see this as well.

[2016-08-17 17:33] amb26 opened #106 "node-resolve will incorrectly resolve modules from cwd on Windows"
This is caused by the parsing regex in node-module-paths.js and some odd Windows behaviour. Here's a repro setup and trace:

At the start, cwd is E:\kettle, which contains a module infusion at E:\kettle\node_modules\infusion. It has made a call

[code]

which should NOT resolve.

Unfortunately, https://github.com/substack/node-resolve/blob/master/lib/node-modules-paths.js#L22 has split the path "E

[2016-08-17 18:55] amb26 commented on #52
Looks like noone has any care whether this module's test cases pass on Windows or not over these two years. I discovered this whilst trying to make a fix for #106 and found that there's really no point writing a test case to verify my fix. Thanks for issuing #54, @Evgenus , I'll incorporate it into our project's fork.

[2016-08-18 00:27] amb26 commented on #106
Note that this hack https://github.com/substack/node-resolve/blob/master/lib/node-modules-paths.js#L34 appears to be attempting to resolve this very problem, but it assumes that the bare drive reference will occur in the last element of dirs, rather than the first where it actually appears. Perhaps in some ancient prehistory, the loop for i ran in the opposite direction.

[2016-08-20 02:54] mgechev commented on #93
With callback `packageFilter` you can set the main property to the value of the `jsnext:main` property.

[2016-10-15 18:52] isiahmeadows opened #108 "This should be tested in 0.10-6.x"
Currently, both versions this is tested on in Travis (0.6 and 0.8) are unsupported, even in maintenance mode. Could this be instead tested in 0.10, 0.12, 4, 5, and 6 (all the currently supported versions)?

@substack I believe this might unmask many of the errors people are experiencing with this project.

[2016-11-24 07:58] ljharb opened #112 ""v8" module not recognized as core"
In io.js and node 4+, "v8" is a [core module](https://nodejs.org/dist/latest-v7.x/docs/api/v8.html).

It seems like https://github.com/substack/node-resolve/blob/master/lib/core.json needs to conditionally add "v8" based on the node version, presumably in [this accumulator](https://github.com/substack/node-resolve/blob/master/lib/core.js#L4).

[2016-12-13 05:56] ljharb commented on #112
Linking to #110

[2016-12-13 08:24] ljharb commented on #108
Fixed in 1f7aa376bcf5d1a5a9580fdf0c4925d505938ff1

[2016-12-13 08:24] #108 closed

[2016-12-13 09:10] ljharb commented on #58
Same as https://github.com/substack/node-resolve/pull/105#issuecomment-266653976; `npm explore foo && npm install && npm test` should always work.

[2016-12-13 09:10] #58 closed

[2016-12-13 09:11] #112 closed

[2016-12-13 09:24] ljharb commented on #52
@fresheneesz can you try rerunning the tests on Windows on latest master?

[2016-12-13 09:36] ljharb commented on #19
It also needs to include the `.node` extension.

[2016-12-13 21:07] #79 closed

[2016-12-17 18:22] ljharb commented on #93
This is a non-standard package.json field that neither npm nor node supports, and is a very bad idea for bundlers to be supporting.

`resolve` won't be supporting it anything `require` doesn't support.

[2016-12-17 18:22] #93 closed

[2016-12-17 18:23] ljharb commented on #18
@Meettya @zxqfox I'm not sure what's actionable here - I'm going to close this for now, but happy to reopen if needed.

[2016-12-17 18:23] #18 closed

[2016-12-17 18:24] ljharb commented on #33
#80 took care of this for `resolve.sync`, and it appears that the `async` version currently calls the callback with the error - so I think this is now resolved?

[2016-12-17 18:24] #33 closed

[2016-12-17 18:25] ljharb commented on #60
This will be taken care of once https://github.com/substack/node-resolve/pull/64#issuecomment-266689322 is rebased.

[2016-12-17 18:27] ljharb commented on #61
https://github.com/gulpjs/gulp/issues/664#issuecomment-69487133 implies that this behavior would require `resolve` to *un*normalize things, since calling into `path.join` is necessary for windows compatibility. Is this just about drive letters (which would be relatively trivial to capitalize), or are there other differences we'd run into trying to fix it piecemeal?

[2016-12-17 18:30] ljharb commented on #68
You can't require global modules, as such, `resolve` (just like `require.resolve`) shouldn't be able to find them.

@skandasoft do you have `$NODE_PATH` set to `npm root -g`? If so, that would enable `node` to `require` your global modules, but since that's a hugely deprecated bad practice, `resolve` wouldn't support that automatically.

However, you can pass a `__basedir` option to `resolve` set

[2016-12-17 18:30] #68 closed

[2016-12-17 18:32] ljharb commented on #84
@krainboltgreene I'm not sure what's actionable here - I'm going to close this, but I'm happy to reopen given more information (a repro case, with the error message you'd prefer, would help).

[2016-12-17 18:32] #84 closed

[2016-12-17 18:56] Joris-van-der-Wel commented on #78
I was able to reproduce it again with `resolve@0.7.0`. I think it is fixed in `resolve@1.2.0`:

[code]

[2016-12-17 20:50] Joris-van-der-Wel commented on #78
Here is the commit that fixed it (35b2b642d91e9b81e7cc26b6fd19912e18901d55):
[code]

[2016-12-17 20:53] ljharb commented on #78
Thanks for confirming!

Fixed by #91.

[2016-12-17 20:53] #78 closed

[2016-12-18 01:43] ljharb commented on #89
This would be a breaking change - it still might be a good idea.

[2016-12-18 01:58] ljharb commented on #96
This seems to be because the function, which is primarily used internally, unconditionally concats `opts.paths` to the result. If you do `nodeModulesPaths(__dirname, { paths: [] })`, you won't see the `undefined`.

[2016-12-18 02:15] cpojer commented on #96
https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/index.js#L201

🤷‍♀️

fyi we are planning on rewriting the sync part of `resolve` for perf (we have an in-memory fs) and will merge it into jest-resolve to be used both by Jest and RNP. That also means we'll finally have a single implementation of a resolution algorithm across FB's tools (except Flow, I guess). Not really import

[2016-12-18 05:48] ljharb commented on #96
I'd be happy to improve the perf of `resolve.sync` as long as the observable API didn't change (this `undefined` thing is a bug that will be imminently fixed).

[2016-12-18 05:54] #96 closed

[2017-01-22 05:03] #52 closed

[2017-01-22 05:03] #106 closed

[2017-01-23 03:58] fresheneesz commented on #52
@ljharb Looks like the tests work now!

[2017-01-26 23:04] steelbrain opened #115 "Error.code is undefined"
Steps to repro

[code]

Expected behavior:

[code]

Current behavior:

[code]

I'm on resolve@1.2.0 on macOS
I did search through existing issues to make sure this wasn't a duplicate

[2017-01-26 23:36] steelbrain opened #116 "Really inefficient resolution"
Suppose we are in `/a/b/c/d.js` and require `some-thing` and `node_modules` is in `/a/node_modules`, `node-resolve` handles this extremely efficiently

Current behavior:

Checks these in order to see which one exists
- `/a/b/c/node_modules/some-thing.js`
- `/a/b/c/node_modules/some-thing/node_modules/package.json`
- `/a/b/node_modules/some-thing.js`
- `/a/b/node_modules/some-thing/node_modules/pac

[2017-01-26 23:45] ljharb commented on #115
This was added in #81 / https://github.com/substack/node-resolve/commit/c622aefeb286e479d536601e30bb828e69f86ec3, and has not yet been released. The Github interface erroneously shows it as landing in 2015, when in fact it was added between dd506158089f7d071d2a9f61cd4385365d177219 and 6984dcb1407fec6af46f744ad2c63f502645bdd6.

[2017-01-26 23:45] #115 closed

[2017-01-26 23:45] ljharb commented on #116
I'm afraid this is the actual resolve algorithm used by node - its efficiency is irrelevant; its correctness is what's important, and node isn't going to change it.

[2017-01-26 23:46] steelbrain commented on #115
Thank you, looking forward to the new release

[2017-01-26 23:48] steelbrain commented on #116
Hi @ljharb I respect prioritizing correctness.

but if you look at my examples above, you would see that correctness doesn't change. I might not have been able to explain it properly but what I'm asking for is

This resolve should first check for the existance of the `node_modules` directory before making say 4-5 or more stat calls within that directory depending on the number of extensions

[2017-01-26 23:53] ljharb commented on #116
aha, I misunderstood.

You're saying that in the case where none of the paths in that list exists but the last one, it should be more efficiently reaching the last one?

[2017-01-26 23:56] steelbrain commented on #116
@ljharb Yes, in most of the cases `node_modules` doesn't exist in upto 3-4 parent dirs, if the resolve function makes sure that node_modules exists in that directory before trying to resolve from it then that would save us a lot of stat calls (and wouldn't compromise correctness)

[2017-01-26 23:59] ljharb commented on #116
That seems reasonable.

[2017-02-13 05:41] mlucool opened #117 "core included modules not correct on node 6.9.0"
It seems the algo for `core` is not working as expected on node 6.9.0:

`test.js`:
[code]

Output:
[code]

[2017-02-13 05:48] ljharb commented on #117
Which version of `resolve` do you have installed?

[2017-02-13 05:52] mlucool commented on #117
Good catch, closing. Issue is eslint isn't using the latest version: https://github.com/benmosher/eslint-plugin-import/blob/master/resolvers/node/package.json#L29

[2017-02-13 05:52] #117 closed

[2017-02-21 13:42] bruno12mota opened #118 "Node modules path dirs resolver bug"
Hey guys!

I've recently came across a problem when using jest that uses node-resolver to resolve the dependencies. The problem is detailed here https://github.com/facebook/jest/issues/2947

Anyway I've debug it throughout and came to the conclusion the problem was with node-resolver itself as you can see from the issue in jest. I've looked into the master branch here and tried replacing the chang

[2017-02-23 15:34] bruno12mota commented on #118
Any way to have the master released to 1.2.1? Is there any work left to allow that?

[2017-02-24 08:03] ljharb commented on #118
v1.3.0 is released.

[2017-02-24 08:03] #118 closed

[2017-02-24 08:15] bruno12mota commented on #118
Thanks Jordan!

[2017-02-24 09:26] astronomersiva opened #119 "1.3.0 causes Ember builds to fail"
[code]

Related issue on Ember-CLI: https://github.com/ember-cli/ember-cli/issues/6807

[2017-02-24 09:33] ljharb commented on #119
Thanks for the report - taking a look now.

[2017-02-24 09:38] ljharb commented on #119
I've set "latest" to v1.2.0 while I try to figure out what broke.

[2017-02-24 09:44] zsoltvad commented on #119
Same issue appeared for angular-cli.

[code]

[2017-02-24 09:54] ljharb commented on #119
Reproduced locally; I've bisected it down to 1260d9d1e2f55efb514540db9aa1b3d679f9db10.

[2017-02-24 09:57] ljharb commented on #119
OK, so in ember-cli this is because they were literally checking the error message [here](https://github.com/ember-cli/ember-cli/blob/master/lib/models/addon-discovery.js#L149).

I assume the same problem is in angular-cli.

[2017-02-24 09:59] ljharb commented on #119
Fixed in 68a081d1c7ff6e0fb58aeff4b6ac06aada7812c4; will be released shortly as v1.3.1.

[2017-02-24 09:59] #119 closed

[2017-02-26 12:16] sabrehagen opened #120 "Broken in browserify"
[This commit](https://github.com/substack/node-resolve/commit/c2cbdddcc2aa1c427ccd8a7c1784c745093f836f#diff-f265d6a6b6b64d4d096fddcf7d620a76R1) broke node-resolve being able to be used with browserify. `process.versions` is an empty object when this code runs in the browser, and the `node` key does not exist.

Running `npm start` in [this project](https://github.com/yoshuawuyts/choo/tree/master/ex

[2017-02-26 18:10] ljharb commented on #120
Thanks, good catch! I'll fix and release an update today in both the v1.2 and v1.3 lines.

[2017-02-26 19:03] #120 closed

[2017-02-26 23:01] ljharb commented on #120
v1.2.1 and v1.3.2 published.

[2017-03-10 20:40] loganfsmyth opened #121 "Can throw ENOTDIR instead of MODULE_NOT_FOUND"
[code]
will throw code `MODULE_NOT_FOUND`, but

[code]

will throw code `ENOTDIR`.

[2017-03-12 08:01] ljharb commented on #121
The comparison would be to `require.resolve`, not to `require`, but I suspect that's a red herring.

What filesystem setup and `resolve` version are you getting `ENOTDIR` with? I can't reproduce it - everything gives me `MODULE_NOT_FOUND`.

[2017-03-12 19:18] loganfsmyth commented on #121
Right, true enough about the example.

My setup was just in the root of the Babel repo, in this case with `CHANGELOG.md` being a file in the current directory. Should reproduce in a empty dir with

    touch CHANGELOG.md
    node -e "require('resolve').sync('./CHANGELOG.md/directory')"

[2017-03-12 22:10] ljharb commented on #121
Thanks, with a filename that exists, I get the following:
[code]

`require.resolve`, in both cases, gives `MODULE_NOT_FOUND`.

The former is a bug, the latter is a deviation (arguably a more useful variant) - but since `require.resolve` doesn't do that, we shouldn't either.

[2017-03-12 22:47] ljharb commented on #121
Of note, this seems to only happen when the `basedir` option is not provided.

[2017-03-12 22:51] loganfsmyth commented on #121
I first ran across it when using a `basedir`, but it appears to happen with or without for me.

[2017-03-19 06:41] ljharb commented on #121
@loganfsmyth could you give [this branch](https://github.com/ljharb/node-resolve/tree/fix_api_differences) a try? It includes both a fix, and a (hopefully insignificant) breaking change, which should bring `resolve` in line with `require.resolve` for these kinds of scenarios.

[2017-03-25 04:07] magicdawn opened #122 "preserveSymlink options not supported"
see

- https://nodejs.org/dist/latest-v7.x/docs/api/cli.html#cli_preserve_symlinks
- https://github.com/nodejs/node/blob/v7.7.4/lib/module.js#L13
- https://github.com/nodejs/node/blob/v7.7.4/lib/module.js#L129-L133

I add a sync version, but the async callback version is too complicated for me 😂
https://github.com/magicdawn/node-resolve/commit/8bfeeccaf66d33c530ed2e373ab2138621e9500f

[2017-03-25 06:16] ljharb commented on #122
This seems to have been added in node v6.3.0.

Based on your changes, it seems like since this module never calls `fs.realPath`, it's already preserving symlinks - what would be most helpful (more than your commit, which helps too) is failing sync and async test cases. With that, I could work on an implementation.

[2017-04-04 22:05] loganfsmyth commented on #121
Looks good to me, thanks! Sorry it took so long to get back to this.

[2017-04-05 03:17] ljharb commented on #121
@loganfsmyth thanks!

[2017-04-05 03:52] #121 closed

[2017-04-19 20:17] #51 closed

[2017-04-20 03:59] stefanpenner opened #125 "Hidden StackOverflow issue (resulting in bug + perf)"
`resolve.sync` of a module with a `package.json` containing `main: '.'` will hang for  quite some time, (up to 800ms on my machine) and then return return the correct value...

Steps to reproduce:

[code]

[code]

If the `try/catch` is removed from https://github.com/substack/node-resolve/blob/master/lib/sync.js#L73 you instead get a fun stack overflow

[code]

[2017-04-20 05:53] ljharb commented on #125
Wow, nice (try/)catch!

[2017-04-21 06:12] #125 closed

[2017-04-24 19:12] stefanpenner commented on #125
I see what you did...

[2017-05-08 11:40] thymikee opened #127 "Absolute paths don't take opts.extensions into account"
It seems like passing `extensions` in `opts` when calling `resolve(path, opts)` don't work when provided `path` is absolute.

See https://github.com/facebook/jest/issues/3342 for description and "repro" (I'll try to provide something easier to debug later).

[2017-05-09 02:20] ljharb commented on #127
Thanks - with a simpler repro case (ideally, a failing test or two), I can get a fix for this out ASAP.

[2017-05-09 19:16] thymikee commented on #127
Closing, after deeper debugging while writing a test for it, turned out to be an internal Jest thing. Thanks anyway! :)

[2017-05-09 19:16] #127 closed

[2017-06-05 15:20] guncha commented on #39
I don't think that without this the package can make claims like:

@substack, a lot of people, including me, would be happy to fix this, as long as you or someone else will review and merge the PRs.

[2017-06-05 15:47] ljharb commented on #39
https://github.com/substack/node-resolve/pull/47#issuecomment-45657329 seems clear.

@guncha you'll note that line in the readme links to the official node resolve algorithm, which *by design* omits all mention of NODE_PATH. If you file an issue on node's website, and they update that page, it'll be a much stronger case to add the behavior here.

Using NODE_PATH is a really bad idea; and when node

[2017-06-05 15:47] #39 closed

[2017-06-05 17:03] guncha commented on #39
Alright, makes sense. I guess I read the "implements the node `require.resolve()` algorithm" a little too literally.

[2017-07-13 13:52] Scimonster commented on #93
Example usage, since `packageFilter` is not well documented:

[code]

[2017-07-13 19:05] javihernandez opened #129 "Unable to resolve when node_modules is under a windows shared folder"
Hi,

I'm unable to resolve certain modules when they are located under a windows shared folder. First, I'm using node-resolve 1.3.3 under windows 10 and node v6.9.1.

Here's the full trace:
<pre>
02:35:56.273:  FATAL ERROR: Uncaught exception: Cannot find module 'deviceReporter' from '\\vboxsrv\vagrant\node_modules\universal\gpii\node_modules\deviceReporter\configs' while trying to resolve require

[2017-07-14 05:56] ljharb commented on #129
Could you see what value `absoluteStart` has [here](https://github.com/substack/node-resolve/blob/master/lib/node-modules-paths.js#L12-L19)?

[2017-07-14 11:52] javihernandez commented on #129
sure, its value is: _\\vboxsrv\vagrant\node_modules\universal\gpii\node_modules\deviceReporter\configs_

[2017-07-14 17:53] ljharb commented on #129
aha, interesting - it's got three slashes at the start, not two.

Any possibility your source path has three instead of two?

[2017-07-14 18:22] javihernandez commented on #129
Sorry, actually it has two \\. When commenting on here I had to add an extra \ to see two \\ in the preview tab. Looks like it actually performs well after the comment is published.

[2017-07-14 18:36] ljharb commented on #129
(I edited your comment to use backticks instead of underscores, that's why it looks better ;-) )

[2017-07-24 20:07] zkochan opened #130 "Use the real path for resolving dependencies"
Node uses the real path of modules (except when executed with `--preserve-symlinks`) to resolve dependencies. That is why [pnpm](https://github.com/pnpm/pnpm)'s [symlinked `node_modules`](https://github.com/pnpm/pnpm/blob/master/docs/symlinked-node-modules-structure.md) work fine with Node applications.

However, `resolve` is a really popular and widely used package and it does not use the real pa

[2017-07-24 23:51] ljharb commented on #130
Sure, that sounds good - let's ensure that a) existing tests keep passing (ofc), b) we add a "preserve symlinks" option, so users can control the behavior if they like, and c) let's think carefully about if it's possible to avoid a semver-major.

[2017-07-26 22:24] #130 closed

[2017-08-07 10:15] ArtanisAce opened #133 "Dependency with 'cloneWithProps'"
Hi, recently I've upgraded my project from React 0.14 to 15, and as you might know, on this last version 'cloneWithProps' is deprecated and you must use 'cloneElement' instead. Well, browserify install 'module-deps' as a dependency, and this one installs 'browser-resolve', which installs 'resolve' and this one needs 'react-addons-clone-with-props'. Is there a way to fix this? I can't see where in

[2017-08-07 17:52] ljharb commented on #133
I'm not sure where you're seeing `react-addons-clone-with-props`; this module has only [one dependency](https://github.com/substack/node-resolve/blob/master/package.json).

Your stack trace indicates that browserify is simply using `resolve` to resolve the path of that module; not that `resolve` is the thing bringing it in.

[2017-08-07 17:52] #133 closed

[2017-08-07 21:12] call-a3 opened #134 "Missing documentation on how the `extensions` option is used."
I experience some unexpected behaviour when I pass the extensions option and can't find any information on how this option is used so that I can debug my usage of this package.

[2017-08-07 22:40] ljharb commented on #134
See the third bullet point under https://github.com/substack/node-resolve#resolveid-opts-cb, and below that, the default value of `extensions: [ '.js' ]`

[2017-09-19 16:13] RichardBradley opened #136 "`NODE_PATH` environment variable is ignored"
The "node require.resolve() algorithm" should also search in the directories listed in the `$NODE_PATH` environment variable, if it is set. See docs here: https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders

Currently, the `resolve` library does not implement this step, but I think it should.

I need this because I am running with my *local* `node_modules` directory outside

[2017-09-19 20:20] ljharb commented on #136
This is a duplicate of #39; see https://github.com/browserify/resolve/issues/39#issuecomment-306223854.

I wouldn't suggest using `NODE_PATH` for anything; any workaround using it is worse than other alternatives.

[2017-09-19 20:20] #136 closed

[2017-09-19 22:21] RichardBradley commented on #136
Thanks, sorry for not spotting that.

Do you know what my other options are for an `npm install` on a file system that doesn't support symlinks, then?

The only practical workaround I have been able to find so far is the `NODE_PATH` based workaround I linked to above.

[2017-09-19 22:52] ljharb commented on #136
Using `file://` will copy-on-install; if your filesystem doesn't support symlinks tho, nor hard mounts, I'm not sure how to handle that.

What filesystem/OS are you using that doesn't support symlinks?

[2017-09-19 23:46] RichardBradley commented on #136
VMWare HGFS in a guest linux VM, backed by an NTFS dir on the Windows host machine.

I don't understand this, sorry. Where do I use "file://"? What do you mean by copy-on-install in this context?

[2017-09-20 01:05] ljharb commented on #136
Ah, I'm not familiar with HGFS; although NTFS certainly supports symlinks.

In `package.json`: `"packageName": "file://path/to/dir"` will *copy* those files on `npm install` to your local `node_modules`.

[2017-09-20 10:48] RichardBradley commented on #136
I have found a workaround which I think I can live with for now:
 1. Copy the `project.json` file to a temp folder on a different FS
 2. Run `npm install` there
 3. Copy the resulting `node_modules` directory back into the project dir, using `cp -r --dereference` to expand symlinks into copies.

It does, but they're not commonly used. I believe that the Windows installers for `npm` avoid creating

[2017-09-22 00:52] snuggs opened #137 "resolve does not preserve `require.extensions` list and assumes only ['.js']"
Greetings!

Having a situation where we are using tape which *does not pass `extensions` to resolve*. Have opened an issue here https://github.com/substack/tape/issues/395

That being said our situation is we use the `.es` ECMAScript extension with the following:
[code]
Although we can achieve our needs with the previous tape issue/pr I feel it behoves resolve to use the default `require.extension

[2017-09-22 05:28] ljharb commented on #137
This would be a breaking change; `require.extensions` starts with `.js`, `.json`, and `.node`.

You can certainly use `resolve` with `require.extensions` via the `extensions` option, however.

[2017-09-28 19:26] TehShrike commented on #137
If this package's goal is to implement the node.js `require.resolve()` algorithm, isn't this something that should be fixed?

Using a truncated default extensions list makes this library default to non-node-like behavior.

Packages like [`got`](https://github.com/sindresorhus/got/) that `require('./package')` will break when bundled by bundlers that use `node-resolve` (which is all bundlers that I

[2017-09-28 19:35] bmeck commented on #137
It should be noted that both `NODE_PATH` and `require.extensions` have been deprecated for years. They also do not affect ESM resolution algorithm. I would recommend moving off of relying on their usage.

[2017-09-28 19:37] substack commented on #137
I think it's good to not rely too heavily on global runtime vars to configure default values. The whole point of this package instead of using `require.resolve()` is that you can configure its behavior without mutating the global runtime environment variables.

[2017-09-28 19:39] TehShrike commented on #137
That makes sense to me.  Changing the hardcoded default to match [the extensions given in the docs](https://nodejs.org/api/modules.html#modules_file_modules) seems preferable.

[2017-09-29 04:29] snuggs commented on #137
@TehShrike hence https://github.com/browserify/resolve/pull/138/files

This way even if someone is on some ancient deprecated api that's technically superfluous to the intent of what the library is assumed to accomplish. Feels quite awkward one would have to pass in the standard `require.extensions` to override the default require `resolve` _"extensions"_. [P.O.L.A. is real](https://en.wikipedia.o

[2017-10-02 04:18] vinsonchuong opened #139 "Add http2 to list of core modules"
Hello! I'm starting to experiment with the new `http2` module. I'm wondering if it can be added to `isCore`

For more context on my particular use, I'm using a linter plugin `eslint-plugin-import` that uses this package. It fails to recognize the existence of the `http2` module.

[2017-10-02 07:42] ljharb commented on #139
What node version ships `http2` as a core module unflagged?

[2017-10-02 13:53] vinsonchuong commented on #139
It's not shipped unflagged in any version of Node. Is it an assumption that `isCore` return only unflagged modules? If so, let's close this.

[2017-10-02 23:05] ljharb commented on #139
I think it might be reasonable to feature-detect when `http2` is available as a core module, and return it in that case - then some extra logic would need to go in https://github.com/browserify/resolve/blob/master/lib/core.js.

However, currently, the list only includes unflagged modules, yes.

[2017-10-04 16:31] Nilesh0101 opened #140 "How to refer to files/directories inside environment variables"
I'm using PKG tool for packaging nodejs application. Pkg uses Resolve module internally.
I have set environment variables inside package.json. Inside require statements I'm accessing files/directories assuming environment variables are set.
Problem is that Resolve could not resolve the paths inside require statements.
Please refer below urls for more information
https://github.com/zeit/pkg/issues/

[2017-10-04 16:40] Nilesh0101 opened #141 "How to solve dynamic require errors"
I'm using PKG tool for packaging nodejs application. Pkg uses Resolve module internally.
In my code there are some places where, what needs to be require is getting decided dynamically.
Problem is that Resolve could not resolve the values inside require statements.
Please refer below url for more information
https://github.com/zeit/pkg/issues/241

Thanks in Advance.

[2017-10-04 17:24] ljharb commented on #141
`resolve` is a function; "static" and "dynamic" describes how the function is called, but it can not *possibly* change how the function works.

The error in the linked issue seems like it's coming from some build tool - it definitely isn't coming from node or this package, since it's impossible to know if a require is dynamic or not without static analysis.

[2017-10-04 17:24] #141 closed

[2017-10-04 17:25] ljharb commented on #140
`require` does not care what's in `$PATH`; that's not how node works.

Separately, there's no "env" key in package.json that anything looks at, so that doesn't actually cause env vars to be set.

Your app should have relative paths, and not try to do bare requires from "not node_modules".

[2017-10-04 17:25] #140 closed

[2017-10-21 07:26] cancerberoSgx commented on #141
I'm using pck with browserify for solving this kind of problems since browserify is smarter and have well-defined rules and plugins for require(), something like this:

[code]

I recommend pkg maintainers not to tacle the resolve problem and rely on browserify-like tool for building a bundle file like this

[2017-10-23 03:32] Nilesh0101 commented on #141
Thanks for the reply.
I will try using browserify.

[2017-10-24 22:24] ljharb commented on #139
node v8.8+ has `http2` unflagged.

[2017-10-24 22:25] #139 closed

[2017-10-25 15:41] jasonmacdonald opened #142 "Getting very different results when using SYNC vs ASYNC"
I'm trying to follow a very long trail from Jest -> browser-resolve -> resolve where the package.json `browser` field is not being applied to transform a files reference.

Jest calls browser-resolve using it's `sync` method, which in turn calls resolve using its `sync` method. Under this the file returned is not the correct file.

However, if I run an additional request on the side to async, and g

[2017-10-25 19:31] jasonmacdonald commented on #142
Even looking at the files, the `loadAsFileSync` function is only 11 lines of code, yet the `loadAsFile` in Async is over 40 lines, including the loading of a package.json for the directory the source file is in. This causes very different results. Why are these two so different if the only intentional difference is wether or not it is a synchronous or asynchronous response?

[2017-10-25 20:37] ljharb commented on #142
Perhaps @substack can comment.

Regardless, I think it would make sense to add `pathFilter` to the sync method (in general, to have the options be symmetric), and it does seem suspect to have them return different results.

If you can reduce it to a reproducible test case (outside of jest) that would be most helpful.

[2017-11-16 06:34] krainboltgreene opened #143 "loadNodeModules() should be more clear about what went wrong"
I had an error loading a library, but all it told me is that it couldn't resolve the module. That's fine, but the real issue is that the package's main file didn't exist.

Here's some payload information:

[code]

We can definitely make this better. We can say all the directories we looked in, what exact file we;'re looking for (in this case main) and then do some reading to show the user that it'

[2017-11-16 16:50] ljharb commented on #143
What does `require.resolve` tell you in that scenario?

Why would the issue here just be "missing main"? Couldn't also `Users/krainboltgreene/Code/krainboltgreene/deushack/source/client/cycle.js` or `Users/krainboltgreene/Code/krainboltgreene/deushack/source/client/cycle/index.js` also be missing?

[2017-11-16 16:52] krainboltgreene commented on #143
In this case the package had a `"main": "transpiled/source/index.js"` which literally didn't exist.

[2017-11-16 16:53] krainboltgreene commented on #143
Three parts for improvement:

  1. Tell the user where we looked.
  2. Tell the user what we looked for.
  3. Either tell the user why we failed OR send them to an FAQ.

I would love to work on this as a PR.

[2017-11-16 16:56] ljharb commented on #143
I'm hesitant to add complexity, even in error paths - but if you're willing, taking a look at it via a PR would be helpful.

[2017-11-29 01:08] lbogdan commented on #142
Hey guys!

Just wanted to let you know I also hit this issue hard while chasing a bug in [CodeSandbox](https://codesandbox.io). Indeed, the sync version doesn't honor the `browser` field from `package.json` (actually it doesn't even load `package.json` in the first place).

I managed to fix it by getting `loadAsFileSync()` pretty much on par with `loadAsFile()`. I'll get back to you tomorrow, as i

[2017-11-29 09:41] lbogdan commented on #142
As promised, here's a reproduction of this bug: http://pr337.cs.lbogdan.tk/s/5233441z5l . If you look in the console, you'll see
[code]

[2017-11-29 11:52] lbogdan commented on #142
And this is my naive try at fixing this: https://github.com/lbogdan/resolve/commit/feb39f28c32321710796d06855a6f6a9ae8483a1 - I pretty much copied what `loadAsFile()` does in a sync way.

[2017-11-29 21:35] lbogdan commented on #142
We deployed these changes ^^ on [CodeSandbox](https://codesandbox.io/) today, and until now everything seems to be fine. I'll keep you posted if there are further developments.

[2017-12-28 14:14] smolyakoff opened #144 "Node.js 8.x async_hooks module is not in core"
Seems like `resolve.isCore('async_hooks')` returns `false` for new experimental `async_hooks` module in Node.js 8.x. This results in `eslint-plugin-import` warning: `Unable to resolve path to module 'async_hooks'         import/no-unresolved`.

[2017-12-28 18:40] ljharb commented on #144
Is the module available unflagged in node 8?

[2017-12-28 18:43] smolyakoff commented on #144
@ljharb Yes, it is
[code]

[2017-12-28 22:22] #144 closed

[2018-01-08 22:23] lbogdan commented on #142
Hello again, and a happy new year! :smile:

@ljharb , @substack Any news about this? Was it fixed meanwhile?
Just wanted to let you know that we didn't have any more issues on CodeSandbox using the above fix, should I go ahead and make a PR?

[2018-01-08 22:39] ljharb commented on #142
@lbogdan a PR would be great, and we can discuss from there.

[2018-01-09 19:43] searls opened #147 "When core modules are shadow, behavior differs from `require.resolve`"
@albertogasparin opened https://github.com/testdouble/quibble/issues/22 which led me to this realization: if a core module (say, `util`) is shadowed by an npm package of the same name (say, `util`), then the behavior of this module will differ from the behavior of `require.resolve` in Node-core.

If attempting to load the shadowed package (as on would with `require('util/')`), the two functions ar

[2018-01-09 19:49] ljharb commented on #147
I believe this might be related to https://github.com/nodejs/node/pull/15015

I also suspect this is how browserify resolves some of its native module shims, such that changing this behavior might break it.

What’s your use case for ever shadowing core modules?

[2018-01-09 19:51] searls commented on #147
Understood. I'm not very familiar with browserify internals at all, so I'm curious if you can see any path forward in reconciling this.

Who knows man, I'm just a middle-man lib maintainer trying to identify the root cause of the aforementioned bug report ( https://github.com/testdouble/quibble/issues/22 ), which mentioned that the reliance on the `util` package was brought in via a transitive dep

[2018-01-09 22:16] albertogasparin commented on #147
I found the bug while doing unit tests. I'm using `mocha`, which requires `assert` which is dependent on `util/`(don't know why, probably for browser compat?).
My code under tests requires node core `util`, however when `quibble` intercepts the call (calling `resolve.sync('util')`) the result is the partial implementation instead of the real core module.
I wouldn't have notice if not because the m

[2018-01-10 00:51] ljharb commented on #147
It'd be useful to prepare a PR that "fixes" this behavior, so we can take a look at the tests.

I agree that `resolve.sync` and `require.resolve` should ideally function as similarly as possible.

[2018-02-18 21:17] reggi opened #150 "Node's require.resolve options"
I see there's a lot of discussion about what the _defaults_ should be for this module. It seems like it's too late for that.  This module is already in use. However I'm using this in a project and expected `.json` to work as well as `package.json` main, and it's not. I would appreciate if someone could share what `options` that should be passed to mimic the node's default, perhaps we can add anoth

[2018-02-18 22:13] ljharb commented on #150
That indeed should do it, since those are the default extensions; you can also do `"extensions": require.extentions`

[2018-02-22 20:37] reggi opened #151 "Promisify breaks resolve"
I have an example of tests passing (can't publish at the moment) with `require.resolve` and with `resolve` as a callback, but when I wrap resolve in `const resolveAsync = Promise.promisify(resolve)` for some reason the tests that worked are failing. I've also implemented my own wrapped promise and _some_ of tests pass, and others fail, specifically cases where there's a `package.json` resolve.

An

[2018-02-22 20:39] reggi commented on #150
Ah, ok the issue i'm having is related to Promises.

[2018-02-22 20:39] #150 closed

[2018-02-22 20:42] reggi commented on #90
You can currently do this by adding `.min.js` to extensions, this is not native `require.resolve` functionality.

[code]

[2018-02-22 21:25] #90 closed

[2018-02-22 21:27] ljharb commented on #151
What promisify implementation are you using?

Since https://npmjs.com/util.promisify is built into node, that’s really the only implementation that matters.

If resolve can’t promisify by default, we could maybe add a custom promisify symbol.

Does it work with the canonical implementation?

[2018-02-22 22:02] reggi commented on #151
I've been using Bluebird to promisify, but even an initial check here.

[code]

[2018-02-23 01:42] ljharb commented on #151
`Unhandled promise rejection (rejection id: 1): Error: Cannot find module './Desktop/jest-example/index.js' from 'internal'` - it seems like it's properly rejecting. Try adding `.catch(e => console.error(e))`?

[2018-02-23 04:43] reggi commented on #151
Right above it I'm showing that the same path resolves with native resolve.

On Feb 22, 2018 8:42 PM, "Jordan Harband" <notifications@github.com> wrote:

[2018-02-23 05:28] ljharb commented on #151
What happens with a non-promisified version of this module, however?

[2018-02-23 15:12] reggi commented on #151
@ljharb It works perfectly fine

Let me explain this example:

[code]

Regular `require.resolve` works, and resolves this path.

[code]

The `resolve` module callback returns the correct resolved path.

[code]

Node 9's native `util.promisify` returns a promise, calls it's `.catch` and logs the error.

[code]

The `util.promisify` module returns a promise, calls it's `.catch` and logs the error.

[2018-02-24 06:51] ljharb commented on #151
@reggi what happens if you call the promisified `resolve` with an empty object as the second argument?

[2018-02-24 08:16] ljharb commented on #151
After looking into this a bit more, the issue is that the assumption that "promisify will work on everything" is flawed; it won't.

Using `util.promisfy.custom`, we could provide a custom implementation that would work with the native one (but not with bluebird) - but then this module would have to add a dependency on `util.promisify` and/or restrict which node versions it runs on.

In other words

[2018-02-24 08:16] #151 closed

[2018-03-07 16:39] TehShrike commented on #137
Interested parties should go review #145.

[2018-04-03 15:32] gaearon opened #154 "Confusing error message when "basedir" is not a directory"
I mistakingly passed a filename as `basedir` option.
I found the error message quite confusing:

[code]

This is because there is an early exit for "file not found" errors, but for any other errors we fall through to where `stat` doesn't exist.

Just filing this for future readers.

[2018-04-04 17:00] ljharb commented on #154
Thanks; I've added some tests to ensure that the behavior doesn't change.

In the next major (because changing error messages has been a breaking change for this lib in the past), I'll improve the error message here so that it's explicit about what you did wrong :-)

[2018-04-05 06:31] #142 closed

[2018-04-07 09:25] davej commented on #89
Also ran into this while using `resolve` programmatically. I got the error:

[code]

But the error was not raised in the error callback as expected, instead it crashed the application. I think this should be considered even though it's a breaking change because it causes a crash.

[2018-04-09 07:12] GeekMode opened #155 "nodeModulesPaths cannot resolve files that are on a networked drive from Windows"
There's a small bug in nodeModulesPaths that is removing one of the 2 prefixed backslashes when using a networked location from Windows.

The specific problem is on line 40: `path.join(prefix, aPath, moduleDir);`
`path.join` strips one of the leading backslashes, which turns '\\\\192.158.124.1' into '\192.158.124.1'

A fix as simple as subbing `path.resolve` in for `path.join` should work since th

[2018-04-09 15:43] mgedmin opened #157 "resolve 1.7.0 fails to find bootstrap's package.json"
We're using bootstrap-loader (pinned at version 2.0.0-beta.22) in our webpack configuration to load bootstrap (pinned at version 4.0.0-alpha.6).  bootstrap-loader depends on resolve.  We were not pinning resolve's version.  Our build worked with resolve 1.6.0 but fails with 1.7.0 with this curious error message:

[code]

Note that it's looking for `node_modules/bootstrap/package.json/package.json`

[2018-04-09 20:10] ljharb commented on #157
OK, so - https://unpkg.com/bootstrap-loader@2.2.0/loader.js is using nonstandard require syntax, which means the webpack loader is kicking in (instead of standard node resolution algorithms, which this package supports).

Do you know where that path (`/builds/.../node_modules/bootstrap/package.json/package.json`) is coming from, or where in bootstrap-loader this `resolve` call is coming from? It w

[2018-04-09 20:12] JVanAartsen commented on #157
@ljharb https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/checkBootstrapVersion.js

[2018-04-09 20:13] ljharb commented on #157
Also, have you tried with a non-beta bootstrap-loader version?

[2018-04-09 20:18] ljharb commented on #157
@JVanAartsen thanks; do you know what the value of `bootstrapPath` is there?

[2018-04-09 21:04] ljharb commented on #157
Are the three dots actually in there, or is that your `$PWD`?

[2018-04-09 21:05] ljharb commented on #157
@JVanAartsen so if `bootstrapPath` already has `package.json` in it, then the `path.join` is what's adding the extra part, not `resolve`. What calls `checkBootstrapVersion`?

[2018-04-09 21:45] JVanAartsen commented on #157
@ljharb yes, three dots are my pwd. not passing bootstrapPath option, so it is undefined. I'm guessing the issue stems from here https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.loader.js#L110 . the `resolveModule` call returns `.../node_modules/bootstrap/package.json`. I'm not familiar with that function's behavior though, maybe thats as intended.

[2018-04-09 21:54] ljharb commented on #157
In that case, it looks like the change might be in https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/resolveModule.js#L14 - I suspect that #146 might be related; @lbogdan, can you weigh in?

[2018-04-10 00:16] krainboltgreene commented on #157
Okay, so for clarity I have a machine that works and a machine that fails with the above message. I have tracked it down to this:

[code]

This code, on the working machine, only returns a single package.json file:

[code]

However, on the broken machine *it returns two*:

[code]

The weird thing is the "path" for this package (pkgFile) is considered to be:

[code]

[2018-04-10 00:38] JVanAartsen commented on #157
@ljharb @lbogdan https://github.com/browserify/resolve/blob/bdf1210d96f3e06c00fad051917950eb5238ab05/lib/sync.js#L89
should this instead be `pkg = opts.packageFilter(pkg, dir)` maybe?

[2018-04-10 00:52] krainboltgreene commented on #157
Okay, so I figured out why the good machine works. It's still package-locked to 1.4.0, where as the broken machine is on 1.7.0.

[2018-04-10 01:11] ljharb commented on #157
@krainboltgreene presumably if you lock it to v1.6 it will continue to work. If there's any chance you could help do a `git bisect` between https://github.com/browserify/resolve/tree/v1.6.0 and https://github.com/browserify/resolve/tree/v1.7.0, that would help me out :-)

@JVanAartsen it's done twice in lib/async: [one](https://github.com/browserify/resolve/blob/197288e76972d7c3fc244d67198a1b87fea

[2018-04-10 01:15] krainboltgreene commented on #157
I might have time for this tonight.

[2018-04-10 01:16] krainboltgreene commented on #157
For what it's worth though, I think you're correct that this is a double edged sword: Both a bug fix and a breaking change.

[2018-04-10 03:04] ljharb commented on #157
The [commit](https://github.com/browserify/resolve/commit/70b71e7980b3235018a0f5ac0bd52b8393548beb) that made the original change in async failed to do so for `sync`, and was done as a bugfix in v1.1.3 in February 2015.

[2018-04-10 03:13] krainboltgreene commented on #157
I know this can be difficult, but that change really should have warranted a major version bump.

[2018-04-10 04:12] ljharb commented on #89
@davej can you elaborate on your programmatic usage?

[2018-04-10 10:42] udi-d commented on #157
For a quick workaround add resolve@1.5.0 to your package.json to lock the version, or upgrade your Node server to latest, seems to fix the issue

[2018-04-10 10:57] davej commented on #89
@ljharb I use it to check if a dependency is installed and working. Something like this:

[code]

[2018-04-10 17:35] krainboltgreene commented on #157
We locked ours to 1.6.0 and things work great.

[2018-04-10 21:16] ljharb commented on #157
@krainboltgreene any chance you could either provide a repro case, or check v1.7.0 with the [suggested change](https://github.com/browserify/resolve/issues/157#issuecomment-379936913), so I can verify that will fix it?

[2018-04-10 23:03] lbogdan commented on #157
@JVanAartsen @ljharb
`packageFilter` is sent to `resolve.sync()` (and to `resolve()`, too) as an option, and the doc (readme) says that it should be

so I don't really see how changing it to `opts.packageFilter(pkg, dir)` would solve the issue.

[2018-04-11 04:45] ljharb commented on #157
@lbogdan the problem is that the docs for sync were either wrong or missing previously, and since packageFilter was added, it’s always passed dir as the second argument - i agree that it *should* have passed pkgfile, but now that people are relying on the wrong behavior, it probably needs to stay broken in the v1 line.

[2018-04-11 04:47] ljharb commented on #89
Thanks! (resolve isn’t trivially promisifiable, fwiw, because it receives more than one resolution argument)

[2018-04-12 02:00] roura356a commented on #157
Agree with @ljharb, v1 should stay with that behaviour.

[2018-04-12 07:43] #157 closed

[2018-04-12 07:43] ljharb commented on #157
v1.7.1 has been released with this fix. 70850d2b5b710136a51a903cbcf63a73f22295f9 restores the "breaking" change and also makes packageFilter take three arguments, so that it's easier to migrate the code that needs "dir".

[2018-04-16 10:59] mgedmin commented on #157
Thank you very much!  1.7.1 works great!

[2018-04-17 18:56] tybro0103 commented on #157
I just fixed a problem of mine by pinning resolve to `1.6.0`... seems possibly related to this. TBH, I don't understand what's going on, but hoping maybe someone here will.

My projects runs on both server and client, with browserify building a bundle for each. Client build is fine (at least in dev where is the only difference is just watchify), but the server/node build is not. I didn't notice th

[2018-04-17 20:27] ljharb commented on #157
@tybro0103 it may be the same cause as this issue, but it's definitely a different problem - would you mind filing a new issue?

[2018-04-17 20:50] tybro0103 opened #159 "Odd run-time error after upgrading from 1.6.0 to 1.7.1"
I just fixed a problem of mine by pinning `resolve` to `1.6.0`... seems possibly related to [this](https://github.com/browserify/resolve/issues/157). TBH, I don't understand what's going on, but hoping maybe someone here will.

My projects runs on both server and client, with browserify building a bundle for each. Client build is fine (at least in dev where is the only difference is just watchify)

[2018-04-17 20:51] tybro0103 commented on #157
@ljharb done https://github.com/browserify/resolve/issues/159

[2018-04-17 20:55] tybro0103 commented on #159
perhaps worth noting I do `global.window = mockBrowser.getWindow();` on the server to avoid some other issues :man_shrugging:

[2018-04-23 19:48] ljharb commented on #159
@tybro0103 thanks for filing a separate issue!

The `this.numeral` in there kind of relies on the module being invoked with the global object as the receiver (which is odd).

Is there any way you could provide a `diff` of the two bundle files: using resolve 1.6, and v1.7.1?

[2018-05-10 04:41] steelbrain commented on #116
@ljharb I know you're a busy man but pinging to see if you could work on this sometime soon as it would make a noticeable performance improvement for all dependents of this module

[2018-05-10 07:25] ljharb commented on #116
I'd happily review a PR for it, but I'm not likely to have time in the near future.

[2018-06-02 23:15] mk-pmb opened #163 "doesn't support `$HOME/.node_modules` or `$HOME/.node_libraries`"
Hi, thanks for this module!
It seems  to have trouble finding my packages, though:

[code]

So `require.resolve` was able to find it, but `resolve` wasn't. However, it works when I create a symlink `/mnt/…/nodejs/node_modules` to `modules`.

Update: Work-around: It also works when I pass option `{ paths: [process.env.HOME + "/.node_modules"] }`
Update 2: However, in that case I have to then explic

[2018-06-02 23:37] ljharb commented on #163
I think you'll need to set the `preserveSymlinks` option to `true`.

[2018-06-03 00:15] mk-pmb commented on #163
Nope, doesn't seem to help:

[code]

[2018-06-03 00:52] mk-pmb commented on #163
To clarify, with "explicitly resolve the returned path" I meant I have to `fs.realpath()` it myself.

[2018-06-07 21:22] SimonSchick opened #164 "Please add a `.npmignore`"
See #82

You are shipping dozens of files useless to the consumer:

[code]

[2018-06-07 21:25] #164 closed, assigned to nobody

[2018-06-07 21:46] SimonSchick commented on #164
This seems like an extremely niche use case, anyone who wants to run the tests could simply install the github version via: `npm i git@github.com:browserify/resolve.git#VERSION`.

This modules is installed millions of times per week, I highly doubt that even 0.001% of those installs ever access the test folder.

Also this doesn't explain why examples ci, and editorconfig files are bundled.

[2018-06-07 21:50] ljharb commented on #164
When you're offline, you don't have github available to you, but you do have your previously installed node_modules.

I'd be fine adding an npmignore for the travis-ci config, if you think those few scant bytes would be an improvement. Examples serve as documentation, and altho the editorconfig isn't currently enforced by tests, that's a check I've meant to add.

The reality is that most of this "

[2018-06-12 21:14] SeregPie opened #165 "support paths that do not start with ./"
Hello. This is a really useful library. There is only one thing I wish.

[code]

[2018-06-12 23:07] ljharb commented on #165
This is how node works; paths not starting in `.` or `/` are "bare" requires, and these are (effectively) always looked for in `node_modules`.

[2018-06-13 08:17] SeregPie commented on #165
This is how `require` works.
`path.relative('/data/src', '/data/src/test')` will return `'test'` and not `'./test'`.
https://nodejs.org/api/path.html#path_path_relative_from_to

[2018-06-13 18:49] ljharb commented on #165
@SeregPie note how you used `path.relative` there, which isn't the same as `require` or `require.resolve`? Try with `require.resolve`.

[2018-06-13 18:54] SeregPie commented on #165
Ok. =(

[2018-06-13 18:54] #165 closed

[2018-06-15 16:12] #60 closed

[2018-06-16 03:16] ljharb commented on #102
What does node itself do in this situation?

[2018-06-16 03:16] #134 closed

[2018-06-16 03:23] ljharb opened #166 "central issue for "default extensions""
This issue encompasses anything that deals with "what the default extensions are/should be".

 - #19 points out that `.json` is not included in the defaults.
 - #137 points out that `require.extensions` is not used as the defaults
 - https://github.com/substack/tape/issues/395 is related, but can be addressed with changes in `tape`, unrelated to whatever `resolve` does.
 - (related but addressed:

[2018-06-16 03:23] #19 closed, assigned to nobody

[2018-06-16 05:29] iambumblehead commented on #49
I basically use [this][0] now and no longer need the resolve script here

[0]: https://github.com/iambumblehead/resolvewithplus

[2018-06-16 14:46] ljharb commented on #49
@iambumblehead could you at least help me understand what that package offers that this one does not? making a fork doesn't help the wider community.

[2018-06-16 17:53] iambumblehead commented on #49
@ljharb not responding to help queries for 4 years doesn't help the wider community.

At the time I needed to call that would take two paths --a filepath and a path, relative to the first path, that needed to be resolved according to the npm rules.

I tried to add such functionality here but, unfortunately, I found the code here to be unwieldy. Anyway, it was a long time ago.

[2018-06-17 06:36] #154 closed

[2018-06-17 07:05] ljharb commented on #61
Per https://github.com/nodejs/node-v0.x-archive/pull/7799#issuecomment-132149227, this was fixed in https://github.com/nodejs/node-v0.x-archive/commit/016e08458cc38d7324c907c6594f2b56a5a19719, which means it's fixed in v0.11.15.

Given that v0.11.14 is the sole version this is broken in, and 0.11 is both long since EOL and was unstable in its entire line, I'm going to close this as a wontfix.

[2018-06-17 07:05] #61 closed

[2018-06-17 07:06] ljharb commented on #122
`resolve` supports a `preserveSymlinks` option now; I'll be happy to reopen if that doesn't address this.

[2018-06-17 07:06] #122 closed

[2018-06-17 07:07] ljharb commented on #163
(Possibly related to #122)

[2018-06-17 07:09] ljharb commented on #159
@tybro0103 is this still an issue for you?

[2018-06-17 07:09] ljharb commented on #129
This seems related to #155.

[2018-06-17 07:10] ljharb commented on #62
This seems addressed.

[2018-06-17 07:10] #62 closed

[2018-06-17 07:10] ljharb commented on #49
I'm going to close this, but am happy to reopen if use cases are provided.

[2018-06-17 07:10] #49 closed, assigned to nobody

[2018-06-17 07:12] #159 closed

[2018-06-17 16:14] ljharb commented on #66
I think this change was implemented [here](https://github.com/browserify/resolve/commit/60ff5545ec3cd15367c89c08cf3f139fa9c23796) - which links to https://github.com/defunctzombie/node-browser-resolve/issues/56.

I'm not sure what's specifically actionable here, so I'm going to close it, but I'm more than happy to reopen it if there's something specific we should be doing.

[2018-06-17 16:14] #66 closed

[2018-06-18 22:52] zxqfox commented on #49
It was so long time ago! Guess all is fine now

[2018-06-19 14:11] realityking opened #168 "Feasibility of dropping old Node.js versions"
Because of a licensing issue with path-parse (see apiaryio/dredd#1058), I was curios how feasible it'd be to drop support for Node.js 0.6, 0.8 and 0.10 from this package. Nothing directly actionable here but I thought I'd share.

This would be a major release so it's not strictly necessary that all dependents have the same requirements but it'd obviously be beneficial if the most popular ones did

[2018-06-19 14:35] ljharb commented on #168
I find no value in dropping support for old node versions - in fact, i find doing o to be harmful to the community.

This package will retain node compatibility for 0.6 for as close to forever as is possible, and should even work on 0.4.

The “issue” on path-parse is that the full license text is not included - while that’s important to fix, i would be shocked if any court interpreted the package

[2018-06-23 05:48] ljharb commented on #168
Happy to keep discussing, but I'm going to close for now.

[2018-06-23 05:48] #168 closed

[2018-06-23 06:46] realityking commented on #168
Of course, this was really just an FYI.

[2018-07-11 02:58] snuggs commented on #166
@ljharb well done! I'm subscribed and have my eyes peeled. Seems like as I predicted last year there will be more eyeballs looking in the `require.extensions` direction.

This is a great synopsis but even myself remember you had made a couple suggestions. I wonder what they are currently. This way I can see where I can help and take some concerns off your plate.

Thoughts?

[2018-07-11 05:13] ljharb commented on #166
As it relates to `.mjs`, resolve will absolutely add it to the default extension list the instant node ships it unflagged - but not before (that will also be when it's present in `require.extensions` in node).

[2018-07-11 12:35] snuggs commented on #166
@ljharb  sounds like a plan! Any ref we can use to stick in the description / comment to watchdog?

Seems like you know better than me. I've merely been judging off PTSD of the community and in the classrooms. :-| I'm totally against `.mjs` but that's just my opinion not the community's.

[2018-07-11 21:21] ljharb commented on #166
A file extension is strictly necessary, since Module and Script have distinct (and ambiguous) parsing goals, and a file extension is the proper and sole way to disambiguate textual parsing goals - so this result was inevitable once the choice of two parse goals was made in TC39 back in 2013 or so.

[2018-07-11 22:41] snuggs commented on #166
@ljharb I knew this already. Not arguing file extensions. Arguing the community using the extension to mock the (dead) king of pop. Like I said...as an African American this is some bullshit. But I digress. Because the community always preaches diversity...as long as someone is making money off diversity at a conference.  Apologize if you don't see where I would have an issue with this. https://me

[2018-07-12 14:53] snuggs commented on #166
@ljharb did anyone ask MJ about this? You are free to have your opinion. However others in the community who look like me feel the same way. Perhaps we are ALL over exaggerating. ¯\_(ツ)_/¯ You may be right. I'll let them know.

[2018-07-12 14:56] ljharb commented on #166
He’s a public figure; he wouldn’t have the right nor the ability to stop people talking about him in a non-libelous way.

[2018-07-12 15:00] snuggs commented on #166
@ljharb there are laws set up against usage of name and likeliness of celebrities here in America. We can do it. Still doesn't make it right. And also a very slippery slope. Like i said, empathy without dismissal. However we are getting a tad off topic. I shall leave you be sir.

[2018-07-12 15:09] ljharb commented on #166
An individual’s name isn’t culture, and referencing it (solely because of it sharing first letters in common) is not appropriation, cultural or otherwise.

[2018-07-12 15:16] snuggs commented on #166
@ljharb your opinion. And you are free to have this. I mentioned this to you already. But opinions aren't always facts and this conversation has been going on for a while now outside of this comment thread.

As long as you call it what it is "Module JavaScript" we see eye to eye. I think we both can (and should) agree on this. And that's definitely *on* topic sir.

[2018-07-12 15:24] ljharb commented on #166
If you keep bringing up your complaint, here or anywhere, you make it on topic. And no, it’s not just opinion - merely referencing an individual’s name is not cultural appropriation, objectively, especially when no aspects of the individual are being referenced, literally or metaphorically - and when you claim it does, you weak the case against appropriation for us all.

[2018-08-23 14:48] jdalton opened #169 "number of npm users with publish abilities"
I noticed that this package is pretty popular and there may be a high number of users with the ability to publish it. This makes it appealing for attackers to try to compromise the package by way of one of the maintainers with publish rights who has [a weak password](https://github.com/ChALkeR/notes/blob/master/Gathering-weak-npm-credentials.md) or [other](https://eslint.org/blog/2018/07/postmorte

[2018-08-23 14:52] ljharb commented on #169
I can lock that down, sure (it’s really just me publishing this one). all packages in the browserify org have all org members as publishers.

[2018-08-23 16:00] ljharb commented on #169
`npx npmc@6.2.0-canary.1 access 2fa-required resolve` → `"ok"`

[2018-08-23 16:00] #169 closed

[2018-08-23 16:09] jdalton commented on #169
Thanks! I've done a [follow-up request for `parse-path`](https://github.com/jbgutierrez/path-parse/issues/5) _(the only `resolve` dep)_ too.

[2018-08-26 08:55] myuseringithub commented on #163
preserveSymlinks doesn't seem to work in Windows Symbolic link or Junction. Is there a problem with the implementation in the module ?

[2018-08-26 17:05] ljharb commented on #163
@myuseringithub does node itself work with windows symlinks?

[2018-08-26 18:46] mk-pmb commented on #163
I reproduced the problem and took an strace capture. The diff shows what really happened vs. what I'd expect to happen:

[code]

It seems `resolve` searches for modules in module directories inside of module search path directories, but not inside the module search path directories themselves.

[2018-08-27 10:37] myuseringithub commented on #163
@ljharb Yes, I use symbolic link of type Junction, as it allows me to create symlinks that are supported between the host machine (Windows OS), and the Docker container (Linux OS) which I'm running the app from. In my setup both the host machine and container use JS scripts to run the project.
Node's `require.resolve('<a symlink>')` returns the real path of the symlink as Node's command option `--

[2018-10-31 00:48] paazmaya opened #171 "Reduce the size of the npm package by limiting the included files"
Looks like the `files` property (https://docs.npmjs.com/files/package.json#files) is not used in `package.json` to specify the included files, nor is the `.npmignore` file (https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package) is being used for blacklisting unwanted files, for the package published to npm.

Would you consider adding either the `files` property or the `.npmignor

[2018-10-31 01:14] ljharb commented on #171
No. The files property is incredibly dangerous and should never be used; and the size of the installed package is irrelevant.

Please do not spam issues in this fashion.

[2018-10-31 01:14] #171 closed

[2018-11-13 00:14] SimonSchick commented on #171
@ljharb Can you elaborate how `files` in _incredibly dangerous_?
Most people say the exact opposite as `files` is _opt-in` shipping rather than `opt-out`.
I'm legitimately curious to hear the reasoning behind this.

Also I don't think the package size is irrelevant, especially when your package consist of ~90% (by disk usage) or 60% (by byte size) redundant files:

![image](https://user-images.git

[2018-11-13 01:38] ljharb commented on #171
@SimonSchick if you use an exclusion list (like "npmignore"), the worst consequence is that you include an unnecessary file. If you use an inclusion list (like "files"), the worst consequence is that you fail to include a necessary file, breaking all of your downstream consumers.

Disk space is effectively infinite and free, as is bandwidth; breakage is infinitely expensive.

I don't agree that I'

[2018-11-13 05:34] ljharb commented on #171
Credentials that live in an accessible file are going to be leaked at some point no matter what you do - that’s what env vars and environment-specific files are for. If credentials leak, the easy solution is to rotate them - and since you surely have multiple factors (2FA on npm and GitHub, for example; vpn for internal services; etc), leaking one credential shouldn’t be a disaster.

[2018-11-26 17:34] malash commented on #130
@zkochan Did you forget to change this condition when resolving real path for `basedir` ?

https://github.com/browserify/resolve/blob/fed3f0fb1eee4e44655b572dc183b6eef8bf44e1/lib/sync.js#L29

E.g. this line may fail `require('resolve').sync('../../path/to/another/package', { basedir: '/path/to/a/symlink' })`.

FYI @ljharb

[2018-11-26 17:37] ljharb commented on #130
@malash could you file a separate issue for that, with a test case?

[2018-11-27 03:30] malash opened #177 "Resolve doesn't resolve real path for `basedir` if it is relative path"
`resolve` doesn't resolve real path for `basedir` if it is relative path.

I'v created a bad case example ( by [lerna](https://github.com/lerna/lerna) ) here https://github.com/malash/resolve-bad-case

The issue is related to https://github.com/browserify/resolve/issues/130 .
The issue effected https://github.com/peerigon/extract-loader/issues/48 and may affect https://github.com/browserify/resolv

[2018-11-27 03:30] malash commented on #130
I'v create a new issue with bad case example https://github.com/browserify/resolve/issues/177

[2018-11-27 06:52] ljharb commented on #177
It seems like you're not setting the `preserveSymlinks` option to `false`, (it currently defaults to `true` in v1, altho master has the breaking change of defaulting it to `false`).

What happens if you set that option?

[2018-11-27 07:07] malash commented on #177
I update the test case and the bug still exists.

https://github.com/malash/resolve-bad-case/commit/c5ea1c8d577bd35ecb586ad82d16b54499893be7

In fact `preserveSymlinks` isn't used at all in https://github.com/browserify/resolve/blob/master/lib/sync.js#L49-L52

[2018-11-28 20:13] ljharb commented on #177
hmm, i'm trying to reproduce this error, and i do get this failure:
`Cannot find module '../../node_modules/jquery' from './node_modules/@my-scope/package-b'`

However, after `npm install` *and* after `npx lerna bootstrap`, `node_modules` still lacks a `@my-scope` directory, so i'm not sure why you'd expect something to be resolved there.

[2018-11-29 05:57] malash commented on #177
@ljharb I will clarify it.

When running `node packages/package-a`

it equals to

`cd packages/package-a && node ./index.js`

so the `basedir` would be

`the-repo/packages/package-a/node_modules/@my-scope/package-b`

which is a symlink to `the-repo/packages/package-b`.

[2018-11-29 07:39] ljharb commented on #177
OK, but the error says "from node_modules/@my-scope/package-b" - and then "../../node_modules/jquery'" - so, the final path it's looking for is "node_modules/jquery" (inside package-a) - but package-a doesn't have jquery listed as a dependency, and it's not present on disk.

[2018-11-29 07:40] ljharb commented on #177
(and package-b doesn't have jquery either)

[2018-11-29 09:46] malash commented on #177
No. The final path is not `'node_modules/jquery'` but `'packages/package-a/node_modules/node_modules/jquery'` and it's wrong even if `package-a` had `jquery`.

---

First, I fixed [the `basedir` in test case with abs path](https://github.com/malash/resolve-bad-case/blob/e444fc2f35a9210f7cae75cd537a4e5895edabda/packages/package-a/index.js#L5) so the error trace is more clear.

[code]

---

The curr

[2018-11-29 22:47] ljharb commented on #177
Got it, thanks for explaining.

[2018-11-29 22:59] ljharb commented on #177
OK, so part of the problem is that the basedir you're passing in isn't resolved - it's relative to package-a/index, but that's not information that resolve can retain - so you first have to `path.resolve(__dirname, './node_modules/@my-scope/package-b')`.

This makes the first assertion pass, but the second still fails for me.

[2018-11-30 01:41] malash commented on #177
Normally the `basedir` should be absolute path. It's my fault to pass a relative path for `basedir` in the first version test case so I fixed it. That could be another good question how relative `basedir` resolved.

For this issue the inconsistency is that user have to resolve real path of basedir for relative path but not NPM package.

[code]

[2018-11-30 05:45] ljharb commented on #177
I think maybe because the relative path isn’t ../../node_modules, it’s just ./node_modules? (Without the realpathsync in the second line)

[2018-11-30 07:44] malash commented on #177
Compression between `preserveSymlinks === true` and `preserveSymlinks === false`

[code]

[2018-12-13 10:48] unlight opened #178 "Uncaught error (sync nor async) if main field is not a string"
How to repeat:
[code]
[code]

Actual:
[code]
Expected:
Error should be caught in callback or in catch

[code]
Related issues:
https://github.com/unlight/sublime-import-helper/issues/61
https://github.com/zavoloklom/material-design-iconic-font/issues/111

[2018-12-13 10:50] unlight commented on #178
main for this package is:
[code]

[2018-12-13 16:17] ljharb commented on #178
@unlight either way, that package is broken; main can only be a string. I’d file a bug on that package.

[2018-12-13 17:13] unlight commented on #178
The question is how can I detect that package is broken.

[2018-12-13 17:16] ljharb commented on #178
For sure, I definitely think this is a bug :-)

[2018-12-13 22:45] ljharb commented on #178
Thanks for the perfect repro - a fix will be merged shortly, and included in the next release.

[2018-12-13 22:45] #178 closed

[2018-12-16 21:33] #177 closed

[2018-12-17 03:19] malash commented on #177
@ljharb Thank you very much for your commit. [This commit](https://github.com/browserify/resolve/commit/2321cd4b4e184f9c97f76ea50dd49b9e42927b93) works for me.

[2018-12-17 04:40] ljharb commented on #177
Thank you for your excellent repro case!

[2018-12-19 00:43] john-kurkowski commented on #177
Did this breaking change get resolved before publishing v1.9.0?

`master` (04e6c79) has a different check

https://github.com/browserify/resolve/blob/04e6c7929a1b3b5c3698f802597eb0fbccf4411a/lib/async.js#L57

vs. what I think was published at tag v1.9.0.

https://github.com/browserify/resolve/blob/v1.9.0/lib/sync.js#L36

[2018-12-19 00:48] ljharb commented on #177
@john-kurkowski v1.9.0 does not include any of the breaking changes. I cherry-picked commits onto the v1.8.1 tag, and released, and merged the v1.9.0 tag back to master.

[2018-12-21 10:28] ile opened #179 "TypeError: Cannot read property 'main' of undefined"
I'm getting this error with the 1.9.0. It works fine with 1.8.1.

The package where it stops at is this: https://github.com/k-components/k-connection-alert

[code]

[2018-12-22 05:53] ljharb commented on #179
Now, it's worth noting that unless you specify `.coffee` as an extension, you won't be able to resolve this package - but this isn't the error you should be seeing. Thanks for the report, will fix ASAP!

[2018-12-22 05:57] ljharb commented on #179
Can you provide the actual call to `resolve` you're making?

[2018-12-26 00:12] ljharb commented on #179
(Separate from the best practice, which is to only publish transpiled code) using some kind of coffee-register would be required to require any coffeescript file, regardless of extension - the `resolve` package, however, only resolves `.js` by default regardless of how `module.extensions` has been modified, unless the `extensions` option overrides it. Can you provide the entire `require` call bein

[2018-12-26 00:14] ljharb commented on #179
Ahhhh, I see the problem. `packageFilter` is expected to return an object, and you have it returning `undefined` - if you added `return package` at the end, it'd be fine.

This should have broken in v1.8.1 as well - it's been the case for the entirety of v1, at least. Can you confirm that if you downgrade to resolve v1.8.1, the problem goes away?

[2019-01-11 03:31] ljharb commented on #177
@simonhaenisch it’s released in v1.9.0. If you’re still seeing a problem, please file a new issue and we can talk it out there.

[2019-01-11 03:46] simonhaenisch opened #181 "TypeError: Path must be a string. Received undefined"
Following up on https://github.com/browserify/resolve/issues/177#issuecomment-453364771 (not sure whether it's related), `1.9.0` has this code:

https://github.com/browserify/resolve/blob/254bb4029df2f8d20a33043dfabd8e5cabfa37df/lib/async.js#L47-L50

which throws an error if `fs.realpath` fails and the error is `ENOENT`, because then `realStart` is not defined.

[code]

This was already fixed in m

[2019-01-13 07:32] simonhaenisch commented on #181
It's not in the `v1.9.0` tag that was released to npm... see

https://github.com/browserify/resolve/blob/v1.9.0/lib/async.js#L49

[2019-01-13 07:34] ljharb commented on #181
The `realpath` fix is; the "throw on invalid directory" breaking change is not (and won't be).

[2019-01-13 07:53] ljharb commented on #181
@simonhaenisch i'm super on board with releasing a v1.9.1 that fixes this for you; is there any chance you could make a PR into v1.9.0 (not master) with a failing test case?

[2019-01-13 09:36] simonhaenisch commented on #181
Please see https://github.com/browserify/resolve/compare/v1.9.0...simonhaenisch:fix-path-must-be-string, here is the test results without and with the fix.

**Before:**

[code]

**After:**

[code]

_(ran with Node v8.15.0)_

---

My branch is based of `v1.9.0`, but I'm not sure how to open a PR against that because it seems I can only open one against a branch but not a tag. Maybe you'll have to `

[2019-01-16 21:00] simonhaenisch commented on #181
@ljharb could you please create a branch based of the `v1.9.0` tag and push it to remote, so I can open the PR?

[2019-01-17 07:57] ljharb commented on #181
@simonhaenisch sorry for the delay; done! https://github.com/browserify/resolve/tree/1.9.0-next

[2019-01-17 10:14] simonhaenisch commented on #181
Thanks! PR is open (:

[2019-01-21 05:19] ljharb commented on #181
Merged into the next v1 release (will be v1.10.0); not yet merged into master. When it is, this will close.

[2019-01-21 21:05] ljharb commented on #181
v1.10.0 is released; merged into master with ea7d38d8212b3c1d2e599812008b3670241ad12f

[2019-01-21 21:05] #181 closed

[2019-03-06 01:52] yepitschunked opened #185 "package.json is re-parsed repeatedly"
It seems like when we find a package.json we run it through JSON.parse every time:
https://github.com/browserify/resolve/blob/2321cd4b4e184f9c97f76ea50dd49b9e42927b93/lib/sync.js#L120

Seems like we could cache bodies we've seen before and avoid the re-parse in those cases. This would be especially helpful in a large repo with a single package.json.

[2019-03-06 04:49] ljharb commented on #185
There’s no guarantee that the file is unmodified between calls.

[2019-03-20 08:33] watson opened #188 "Does the require.resolve `paths` option work just like the `baseDir` option?"
Since Node.js v8.9.0, a new `paths` option was made available to the core Node.js [`require.resolve`](https://nodejs.org/api/modules.html#modules_require_resolve_request_options) function:

As far as I can see, if just given a single element in the `paths` array, this works identical to the `baseDir` option of this module. The new `paths` features does however take into account the `GLOBAL_FOLDERS

[2019-03-20 23:01] ljharb commented on #188
Since it's relatively new, this package hasn't adapted to it yet, no.

Would you be willing to make a PR with test cases, comparing require.resolve's paths option to the basedir option?

Another possibility might be, adding a `paths` option to `resolve` itself.

(do you need the GLOBAL_FOLDERS? requiring things from there is widely considered an antipattern)

[2019-03-21 08:36] watson commented on #188
I don't mind taking a stab at it.

I don't personally use `GLOBAL_FOLDERS` no, but I'm the maintainer of a popular module which is used to patch the `require` function where I depend on being able to resolve modules. And I can't rule out if any of their apps depend on the `GLOBAL_FOLDERS` environment variable unfortunately.

[2019-03-31 08:31] watson commented on #188
I somehow can't get the normal test suite to run in `master`. Is it because I have cloned this repo into a folder whos path already contain a `node_modules` folder? Usually that's where I keep my all the Node modules I'm working on which makes working on multiple modules with inter-dependencies much easier.

![image](https://user-images.githubusercontent.com/10602/55286722-e0ec5180-539f-11e9-8381-

[2019-03-31 09:10] watson commented on #188
Installed in `/tmp` and it worked. So I guess it's related to the `node_modules` folder in the path

[2019-03-31 10:02] watson commented on #188
As far as I can see, no where in the current tests do you validate that `require.sync` returns the same result as `require.resolve`. Is this on purpose?

[2019-04-06 07:15] ljharb commented on #188
Not that I know of; I've always found that a bit confusing but haven't taken the time to fix it.

It sounds like there's a few action items here:
 1. file an issue about the repo not working properly with a sibling `node_modules` (if i've understood the problem correctly
 1. make a PR that adds a test suite comparing both `resolve` and `resolve.sync` with `require.resolve`, to ensure consistency a

[2019-04-24 09:30] ShuiYueJingHuaXiao opened #189 "can not install version 1.10.1 with npm now"
npm install resolve@1.10.1 fail
npm install resolve@1.10.0 success

![image](https://user-images.githubusercontent.com/15197204/56647872-c8c4d500-66b4-11e9-97c8-7a77833a3eb8.png)

on npm website, it said was published 2 hours ago

ps: I didnot use the package directly, some package in devDependencies use this, when run npm install, it search for the latest verson even if setting version 1.10.0 in

[2019-04-24 09:39] ShuiYueJingHuaXiao commented on #189
my fault, private registry cause this

[2019-04-24 09:39] #189 closed

[2019-05-10 19:16] #116 closed

[2019-05-15 14:51] keithamus opened #193 "Omitting the `package` option causes resolve to eagerly look for `package.json` files"
Given a file structure like the following:

[code]

If `bar` were to `require('../b/baz')` with then we should expect the following stat calls to be made:

[code]

However, this only happens if the `package: {}` option is present (`package` being set to any truthy value).

If we try to run without the `package: {}` option the following files are stated:

[code]

Here's a test you can add to test/m

[2019-05-28 07:10] ljharb commented on #193
This definitely predates my maintainership of this package.

Absolutely yes, though - every file within a package could be replaced by a key in a `browser` field in package.json, so browserify definitely would need to always check every package.json, even for deep imports.

Note as well, that package.json will *always* need to be checked for every `.js` import with the current flagged modules impl

[2019-05-29 20:21] #155 closed

[2019-06-12 00:00] bterlson opened #194 "1.11.1 breaks rollup-plugin-node-resolve"
A recent [change to handling shadowed modules](https://github.com/browserify/resolve/pull/148) has broken rollup-plugin-node-resolve. I [filed an issue](https://github.com/rollup/rollup-plugin-node-resolve/issues/222) on the plugin to adapt to the new version as I agree the fix is the right thing to do long term.

However, before a fix to the plugin materializes, we might be able to prevent more p

[2019-06-12 05:19] ljharb commented on #194
As a short-term fix, I've set `1.11.0` as "latest" (`1.11.1` is now "next"), so that fresh installs shouldn't run into the problem.

Certainly anyone who's already depending on `^1.11.1`, or who has it in a lockfile, likely will hit this problem unless they manually downgrade - that's the group who a `1.11.2` would benefit.

If the rollup plugin doesn't get a fix in very soon, I'll probably do the

[2019-06-12 17:32] bterlson commented on #194
@ljharb please [re-enable spacebar heating](https://xkcd.com/1172/).

[2019-06-13 16:17] bterlson commented on #194
Just FYI, https://github.com/rollup/rollup-plugin-node-resolve/issues/222 was fixed with https://github.com/rollup/rollup-plugin-node-resolve/issues/223. Once that's released, you could probably move latest up again 😊

[2019-06-14 01:03] ljharb commented on #194
v5.0.2 is released; can you confirm that even with v1.11.1 installed, the bug is fixed?

[2019-06-21 07:13] ljharb commented on #194
Closing pending further reports.

[2019-06-21 07:13] #194 closed

[2019-06-21 19:27] mikeharder commented on #194
@ljharb: Sorry for the delay getting back to you.  We have verified that `rollup-plugin-node-resolve@5.0.2` is compatible with `rollup@1.11.1` in a minimal repro project.

We are still working to update our full repo to `rollup-plugin-node-resolve@5.0.2` and `rollup@1.11.1`.  Once this is done, we will re-open this issue if there are problems.

Are you going to move the `latest` pointer back to `1

[2019-06-21 19:28] ljharb commented on #194
@mikeharder now that i have a confirmation, yes :-)

[2019-06-25 22:56] ljharb commented on #194
sigh, looks like it broke another rollup package: https://github.com/rollup/rollup-plugin-commonjs/issues/394

[2019-07-29 21:47] bterlson opened #196 "preserveSymlinks doesn't work properly from root package"
Consider a library `lib` with the following file structure:

[code]

In other words, a dependency exists from the root library to `buffer` which is symlinked into a separate folder (similar to how pnpm works).

In this case, `resolve` doesn't seem to be mapping the symlinked paths to real paths properly.

**Repro Steps**
1. Create the above example with mkdir/ln -s
2. cd into root/mylib/src, run n

[2019-07-29 21:50] bterlson commented on #196
Created a repro repo here: https://github.com/bterlson/resolve-repro

[2019-07-30 01:20] octogonz commented on #196
I'm not sure this is a bug.  In your repro, the `resolve` library does return a path to the correct target file.  The path is not normalized, but if you want that, you can normalize it yourself by calling `fs.realpathSync()`.  This is extra disk access, though, and in many cases the caller may not want to do that extra step.

If you can find a repro where `resolve` returns a path to the /wrong/ fi

[2019-07-30 01:30] bterlson commented on #196
@octogonz not sure I follow, but considering the point of this module is to look up modules as Node does, and Node by default (with preserve symlinks off) will never resolve a module to a path which is symlinked, it seems clear this module is behaving incorrectly?

[2019-07-30 02:03] ljharb commented on #196
@octogonz in the “preserve symlinks” case - which node used to do by default - resolve is correct. However, in the “don’t preserve symlinks” case, which is now node’s default as well as will be resolve’s default in v2, it doesn’t seem to be working here (where “working’ is mostly defined as “whatever node does”)

[2019-07-30 05:07] octogonz commented on #196
Hmmm... If the aim is to mimic the return value of the `require.resolve()` API from NodeJS, then  I agree it should be changed.  The fix is pretty easy; call `fs.realpathSync()` on the return value.

Symlinks are used heavily in installations done by PNPM and also Rush, though.  By now most tools support that, and rely on the `resolve` package somehow in their solution.  Thus perhaps the explanati

[2019-07-30 05:13] ljharb commented on #196
Unfortunately every bugfix could potentially break those who rely on the bug - @bterlson is well aware of #194 ;-) - but the alternative is to release every patch as a major, which isn't really sustainable.

Releasing as a minor versus a patch would have no different effect; nobody pins to a minor anymore.

Given that `preserveSymlinks` is a relatively recent addition - #131 was added in v1.4.0, a

[2019-07-30 05:48] bterlson commented on #196
@octogonz thank you so much for finding usage examples! It does seem possible that depending on this symlinking behavior is rare if most tools only need to a valid node_modules folder for io and don't care about the precise path. I thought for a while about how this could break things (I owe it to past me heh) but the current path normalization behavior seems hard to rely on. That said, I still ex

[2019-07-30 05:53] octogonz commented on #196
I feel like we... come very different worlds.  Turns out the two libraries that I referenced use `~` by default and have actually locked `request` to a PATCH number "for some reason." 😁

[code]

[2019-07-30 05:55] ljharb commented on #196
Pinning dependencies in package.json to exact versions doesn't actually give you any guarantees; you need a lockfile for that, and it's been the best practice in node for many many years to use `^` (except for known bugs, of course).

That said, I certainly don't want to break anyone - but this feels like it's worth shipping it as a bugfix and waiting to get feedback.

[2019-07-30 06:11] octogonz commented on #196
I'll point out that a lockfile doesn't help new installs that happen after a regression occurs, but before the problem is found+fixed.  And in this case (since `resolve` doesn't have any indirect dependencies), locking the version does indeed prevent your fix from getting installed before it's been properly tested.

But I suppose it also means releasing as PATCH is cool as far as these two example

[2019-07-30 06:17] ljharb commented on #196
See #197.

[2019-07-31 21:10] #196 closed

[2019-08-27 09:10] zyziyun opened #198 "On version 1.12.0 resolve third package error."
I have a third package: https://github.com/defunctzombie/node-url/
（this package name is 'url'）

I want to parse this package absolute path
I use version v1.9.0 to parse, the absolute path of this package is right
I use version v1.12.0 to parse, return value is only url(core content)

I hope that when I use the v1.12.0 version to parse, the return value is the same as the  v1.9.0 version.

thank y

[2019-08-28 15:40] zyziyun commented on #198
Thanks your reply. But I don't understand. Which version has a bug ? I think the version 1.12.0 is the latest. I quote 'url' this third package. Shouldn't it be resolved to a third-party path?
Do you think that parsing into built-in modules is correct?

[2019-08-29 02:12] zyziyun commented on #198
OK, thank you~

[2019-08-29 04:17] #198 closed

[2019-09-06 17:32] arcanis opened #199 "Enable PnP by default if within a PnP environment?"
This is a followup to #174. In this PR, we've implemented `normalize-options.js` as a way for third-party runtimes to hook into `resolve` by default and modify its default options.

It worked really well, and unlocked many packages - Babel being an important one. I just found out, however, that it doesn't work with one particular project: Next.js. For some reason, Next precompiles `resolve` and th

[2019-09-06 18:30] ljharb commented on #199
I'm not very comfortable with doing that; in general, precompiling in the way you imply next.js does brings with it risks, which include things like this. Have you filed an issue with next.js to fix its precompilation?

[2019-09-06 19:37] arcanis commented on #199
Yep, along with a few candidate solutions: https://github.com/zeit/next.js/issues/8659

Note that I don't think there's any urgency to do anything in `resolve` - I just felt it was a good time to start a discussion and consider options going forward! Keeping the current system is one 🙂

[2019-09-06 19:40] ljharb commented on #199
It seems like the only options for resolve are:
1. keep things as they are, rely on consumers who precompile/bundle preserving the proper node semantics
1. add a `process.versions.pnp` check, which may cause an increase in bundle sizes to consumers who don't explicitly handle it by adding a `process` shim - typically things like this are handled with `process.env`, which bundlers all know how to m

[2019-11-19 00:00] bterlson opened #201 "packageFilter paths should be realpathed with preserveSymlinks: false"
Right now a package filter is called with potentially symlinked paths.

[2019-11-19 00:26] ljharb commented on #201
Thanks! I'll take a look, but a PR with a test case would be super helpful.

[2019-11-19 19:17] bterlson commented on #201
@ljharb will try to put up a PR, but test cases are really annoying to make when symlinking is involved. Here's how to repro, though:

Directory structure like:

[code]

cd into project, open a node console, and enter:

[code]

[2019-11-20 08:24] ljharb commented on #201
@bterlson in your example, there's no `package.json`s - `packageFilter` only kicks in when there is one. Do you also have a package.json inside `mod-a`?

[2019-11-20 23:43] bterlson commented on #201
@ljharb yessir, and main files, although that part is probably not necessary to highlight the problem.

[2019-11-21 23:37] ljharb commented on #201
Writing this failing test exposed two more unrelated bugs that I'll need to test and fix separately :-) This one's coming up shortly tho!

[2019-11-22 05:48] ljharb commented on #201
v1.12.1 is released.

Note that this includes a bugfix where `packageFilter` was incorrectly getting called with the documented 2nd arg omitted; any sync packageFilter callbacks will likely need to be altered.

[2019-11-22 08:33] #201 closed

[2019-11-26 13:49] orthur opened #204 "Resolve 1.13.0 fails to find bootstrap's package.json"
We have faced issues with new version of resolve.

[code]
Note `node_modules/bootstrap/package.json/package.json` instead of `node_modules/bootstrap/package.json`
same error as in #157

[2019-11-26 18:19] ljharb commented on #204
oops, looks like i repeated the same mistake again. I'll revert and release a v1.13.0 shortly.

[2019-11-26 23:04] ljharb commented on #204
v1.13.1 and v1.12.3 are released with this fix. Sorry for the inconvenience!

[2019-11-26 23:08] #204 closed

[2019-11-29 13:17] arcanis commented on #199
We found an interesting edge case when porting the Babel repo to Yarn 2: they are using `jest` for their tests, and for some reason `resolve` wasn't working out of the box with PnP from within the test suites.

Turns out Jest is [executing the module in its own sandbox](https://github.com/facebook/jest/blob/429877d1c690d4a584ded077d3f975bd7f68341a/packages/jest-runtime/src/index.ts#L740), so the r

[2019-11-30 02:17] ljharb commented on #199
That seems like something that would certainly be easier if resolve auto-detected; but also is an inherent cost of running code in workers. Could the pnp runtime intercept the creation of workers, or their evaluation of code, and ensure that the right setup is done?

[2019-11-30 10:43] arcanis commented on #199
I'm a bit cautious doing this, as it's generally quite intrusive and prone to break 🤔

I feel like the less we need to add a layer between Node and its users, the better I feel (for example that's part of the reason why we use `NODE_OPTIONS` to inject the runtime instead of overriding `child_process` and `worker_threads`).

[2020-01-02 14:34] arcanis commented on #199
Another edge case: Yarn offers a way to 'symlink' a package to a specific folder on the disk through the use of the `link:` protocol (I think npm does something similar with `file:`).

Since the PnP integration operates by telling `resolve` where is the root of the `node_modules`, it works for regular packages (because we take care of installing them in such a way that there is a `node_modules` pr

[2020-01-02 23:04] ljharb commented on #199
Hmm, I'm not clear on why it being a link means you can't provide a fake location for it. Can you elaborate?

[2020-01-02 23:15] arcanis commented on #199
Imagine resolving `foo/bar/hello`. The `resolve` algorithm will get the node_modules paths, then try to resolve `./foo/bar/hello` from them until it finds a matching one.

If `foo` is a package, the returned node_modules path is one located within the archive:
`/project/cache/foo-1.0.0/node_modules`

Then `resolve` takes this path, join it to `./foo/bar/hello`, and finishes resolving that:
`/proje

[2020-01-02 23:20] arcanis commented on #199
Fwiw, a generic fix for that would be for the `paths` settings (or at least the functor version) to return the path to the package sources rather than the path to the package n_m directory.

In this case the functor would return `/project/cache/foo-1.0.0/node_modules/foo` for the package version, and `/project/src` for the link version. The `resolve` algorithm would then concatenate it with the su

[2020-01-02 23:56] ljharb commented on #199
v2 is out in prerelease form; we can still get breaking changes in. To clarify: the change you're suggesting would be for the `paths` option function - which is currently invoked and returned [here](https://github.com/browserify/resolve/blob/master/lib/node-modules-paths.js#L32), to change how?

[2020-01-03 09:55] arcanis commented on #199
I made a tentative PR: https://github.com/browserify/resolve/pull/205 - basically giving the hook the option to skip the `path.join` if it doesn't apply to a package.

If possible at all, I would really appreciate if the change could be made in a semver-minor releases. Lots of packages are depending on `resolve`, and that would help compatibility in one fell swoop.

[2020-01-03 19:20] ljharb commented on #199
Thanks; if it's nonbreaking then I'll definitely backport it to 1.x.

[2020-01-22 05:09] tbodt opened #207 "Test cases and examples are uploaded to NPM"
Should be pretty easy to fix by whitelisting the necessary files in package.json:
[code]

[2020-01-22 05:22] ljharb commented on #207
There’s nothing to fix; they’re included by design. `npm install foo && npm explore foo && npm install && npm test` should always work.

Separately, the files field is very dangerous and should be avoided in favor of npmignore.

Duplicate of #171. Duplicate of #180. See not just #82, but https://github.com/browserify/resolve/pull/149#pullrequestreview-96750692, https://github.com/browserify/resolv

[2020-01-22 05:22] #207 closed

[2020-01-22 05:54] tbodt commented on #207
TIL about npm explore.

[2020-01-22 11:28] MichaelDeBoey opened #208 "CHANGELOG missing"
I just saw the package is updated to `v1.15.0`, but I can't find any CHANGELOG to check out the changes.

Would you guys be so kind to provide us with a decent CHANGELOG please? 🙂

Thanks for all your hard work! 🙂

[2020-01-22 16:14] ljharb commented on #208
The tagged release commit has them: https://github.com/browserify/resolve/releases/tag/v1.15.0 which is also visible if you click GitHub’s “releases” button. at the root of the repo.

[2020-01-22 16:16] MichaelDeBoey commented on #208
Hmm that's strange.
When I watched the [releases](https://github.com/browserify/resolve/releases), I didn't see any release notes.
<img width="377" alt="Schermafbeelding 2020-01-22 om 17 16 03" src="https://user-images.githubusercontent.com/6643991/72911798-efdf2e80-3d3a-11ea-998c-12bca86f3b6e.png">

[2020-01-22 16:44] ljharb commented on #208
expand the ellipsis next to each tag.

[2020-01-22 16:50] #208 closed

[2020-01-25 22:46] coreyfarrell opened #209 "Conditional exports in resolve@next"
It's nice that the next version provides an ES module wrapper using conditional exports.  One suggestion could you drop the `require` condition?  The following seems to work:
[code]

The big difference is that `require('resolve')` will not print `ExperimentalWarning: Conditional exports is an experimental feature.` as `default` is not part of the conditional exports feature where `require` is.  `i

[2020-01-25 23:20] ljharb commented on #209
Dropping the `require` condition makes sense, yes.

The reason that the array is always required is that node v13.0 and v13.1 have a bug where although ESM is flagged, "exports" is still read, and they do not understand the object syntax. Thus, the arrays will have to be used in every package i maintain forever, including this one.

[2020-01-25 23:32] coreyfarrell commented on #209
Wouldn't 13.0 / 13.1 understand:
[code]

I understand why you need the array notation for the main export which provides the ES module wrapper but for the sub-path remaps which do not have conditional exports I'm not sure why you need object notation at all?

[2020-01-25 23:50] ljharb commented on #209
If i want the subpaths to work in node 13.0 and 13.1, they also need the array form.

[2020-01-25 23:51] #209 closed

[2020-02-05 10:54] SimenB opened #210 "Support a promise API"
(Sorta surprised no-one has opened an issue about this, sorry if one exists and my searching is just bad (there is sorta #151, but this issue is about native promise support, not promisification)).

Node's new ESM resolution supports promises, but not callbacks. If we wanna use `resolve` to implement a [custom linker](https://nodejs.org/api/vm.html#vm_module_link_linker), a [custom loader hook](ht

[2020-02-05 16:01] SimenB opened #211 "Wrong module returned when both dir and file has same name"
Pretty much the same as #51, but from _within_ the directory this time. See https://github.com/SimenB/resolve-file-and-dir-name-clash-bug

It works correctly for `./` but not `.`.

Swapping
https://github.com/browserify/resolve/blob/f4b27afbadaff3dd466d69af931e7c8c18249598/lib/sync.js#L78

to

[code]

"fixes" the issue, but breaks the test added for #51.

Here are two failing unit tests (for `sync

[2020-02-05 16:24] SimenB commented on #211
Actually, copying my fix from the Jest PR makes the tests I added here pass - I'll open up a PR

[2020-02-05 19:20] #211 closed

[2020-02-14 16:30] farhanRIT opened #213 "onwrite deprecated?"
Hi, I get this warning message when building my project:

(!) The "onwrite" hook used by plugin node-resolve is deprecated. The "generateBundle/writeBundle" hook should be used instead.

[2020-02-14 18:41] ljharb commented on #213
That seems like it's for a browserify hook; `resolve` is a standalone package.

[2020-02-14 18:49] farhanRIT commented on #213
Sorry I posted in a wrong package/git. New to npm packages and not sure sure how to search for exact package through npm. A lot of similar names.

[2020-02-14 18:49] #213 closed

[2020-03-21 20:49] yuri-karadzhov opened #215 "Add option to ignore core packages and search for alternative in node_modules"
Add option to ignore core packages and search for alternative in node_modules that is important for browser builds. e.g. `url` package is being detected like core package even if it is installed from npm `npm i url`

[2020-03-21 21:10] ljharb commented on #215
Browser builds already have a mechanism for this (which the browser-resolve package uses); separately, if know you want the local one, try `resolve('url/')`. What's your use case?

[2020-03-21 21:28] yuri-karadzhov commented on #215
Thanks! It works with `/`. I'm working on smart server that modularise and build packages with no configuration required https://hqjs.org

[2020-03-21 21:28] #215 closed

[2020-03-24 10:32] egormalyutin opened #216 "Disable core packages"
Hello. Can I disable all core packages support?

[2020-03-24 10:41] egormalyutin commented on #216
I already came up with hack like
[code]

[2020-03-24 16:07] ljharb commented on #216
What's your use case?

[2020-03-24 16:07] ljharb commented on #216
also that check is very incorrect; use `require('resolve/lib/is-core')(pkg)`, if anything.

[2020-03-25 08:21] egormalyutin commented on #216
@ljharb I just want to find modules installed in `node_modules` rather than core modules

[2020-03-25 08:23] egormalyutin commented on #216
@ljharb Actually I used Object.property.hasOwnProperty and everything (it's just a short example), but thanks anyway!

[2020-03-25 16:18] ljharb commented on #216
That’s not correct, though, because of the semver ranges. Use the isCore function.

You can do that by appending a slash, just like you can in node.

[2020-03-25 17:46] egormalyutin commented on #216
@ljharb Okay, but can I _add_ core module to the list?

[2020-03-25 17:49] ljharb commented on #216
Not without doing hacky unsupported things. What's your use case?

[2020-03-26 07:31] egormalyutin commented on #216
@ljharb I'm trying to create a simple small module bundler.

Can I submit a PR with support of adding or removing core modules?

[2020-03-26 20:20] ljharb commented on #216
browserify already is a simple small module bundler, and already uses `resolve` with existing options to achieve the same goal. If you can't use an existing bundler, i'd suggest reading how they do it :-)

I don't think a PR is warranted here.

[2020-03-27 03:33] egormalyutin commented on #216
@ljharb I'm not trying to create a module bundled because I don't know how to use them, but because I want to understand more how they work

[2020-04-16 14:49] rizowski opened #219 "Cannot find module 'tape'"
I am getting this error when I try to start my app. It's bubbling up from XO since it uses multiple dependencies that rely on resolve.

[code]

Test cases:
  - reverted from node 12 to 10
  - switched to xo version 0.26 which was well before this issue
  - switched to yarn in case npm is causing the issue
  - deleted lock files and node_modules for each test

[2020-04-16 14:53] ljharb commented on #219
That doesn’t make sense; that’s one of resolve’s tests. Why would you be evaluating it?

[2020-04-16 15:02] rizowski commented on #219
Beats me. That's why I'm here. haha

All I did was install XO. I've been pounding my head on this issue for the last 3 days thinking maybe it had something to do with docker volumes and windows and it not installing correctly. But I ported the project over to my mac, duplicated the issue in the container and on my machine.

I can get the error to go away if I install tape or uninstall XO. I've tri

[2020-04-16 15:03] ljharb commented on #219
xo is a linter i believe, perhaps it’s linting files in node_modules? If so, configure it not to.

[2020-04-16 15:04] rizowski commented on #219
Hmm maybe, it should be ignoring that directory by default. I'll see if that is the issue.

[2020-04-16 15:06] ljharb commented on #219
That’s also true (assuming your app doesn’t use xo). What is your app’s start command?

[2020-04-16 15:20] rizowski commented on #219
I use this for local:
[code]

Or this for production
[code]

So nothing too fancy. Both produce the issue.

[2020-04-16 15:38] #219 closed

[2020-04-16 15:53] rizowski commented on #219
Ha I just found it. I had a bad glob pattern in my project. It was `./**/*resolver.js` I must have missed that it was loading from the root of my project so it was looking in node_modules.

Crazy how things can be figured out in an hour of talking to someone you don't know after staring at an issue for 3 days. 😆 Thanks again 👋

[2020-04-17 12:32] coreyfarrell opened #221 "Conditional use of `require('module').builtinModules`?"
I was just reading the comments in https://github.com/nodejs/node/pull/31553 and wondering if `resolve` could conditionally ask the core for the list of core modules?  The idea would be for lib/core.js to have a branch for if `builtinModules` is defined and bypass core.json in node.js `^6.13 || ^8.10 || >=9.3.0`.  This would make lib/core.json 'legacy only' and it would never need to be updated ag

[2020-04-17 20:57] ljharb commented on #221
Nope, because that list isn't complete (i forget if it has extras or is missing some) - see the test: https://github.com/browserify/resolve/blob/8dba8463b0621cf3639f6747dd088d84b1c0d833/test/core.js#L64-L70

[2020-04-17 20:57] ljharb commented on #221
Also, `resolve` is used in browsers, where `require('module')` does not exist - I'd rather keep core.json as the identical source of truth in both than have a risk of drift between node and non-node.

[2020-04-17 21:04] coreyfarrell commented on #221
I checked the current (or maybe recent) release of resolve against node.js v14.0.0-rc.3, the only difference was that resolve didn't know about `fs/promises` yet.

Understood about browser compatibility though, that's logical.

[2020-04-17 21:04] #221 closed

[2020-04-17 21:11] ljharb commented on #221
The current one, v1.16.0, knows about fs/promises in node 14+. RCs don't count, and node 14 isn't out yet :-)

[2020-04-25 15:54] SimenB opened #222 "Support ESM resolution"
Hiya! 👋

We've discussed this briefly on Slack, but I thought an issue would be easier to keep track of.

I'm not sure what it would entail, so I'll just list out (i.e. do a brain dump of) the features I think would be needed.

- Should file be interpreted as CJS or ESM
  - Currently, `resolve` will only ever return a single string, which is the absolute path to the resolved file. I think in addit

[2020-05-18 21:48] ctavan commented on #222
Some tools/bundlers use `resolve('pkgname/package.json')` in order to find file locations of `package.json` files of project dependencies to then extract meta information from these `package.json` files (like a `browser` field for file overrides as supported by webpack, rollup etc.). These might break if `exports` support is added to the `resolve` package in the same way that only those paths expl

[2020-05-18 21:58] ljharb commented on #222
The plan is that you'll be able to explicitly request `resolve` use pre-exports resolution, so i think it's save to use `resolve` for this use case for the time being.

[2020-05-19 07:29] SimenB commented on #222
For the "I need to load `package.json`" use case, why not do something like this:

[code]

https://github.com/sindresorhus/pkg-up

Could trivially be packaged up into a `pkg-of-module` and published to npm

[2020-05-19 08:03] ctavan commented on #222
@SimenB thanks for this suggestion! I took the liberty to copy it over to https://github.com/nodejs/node/issues/33460#issuecomment-630654673 which might be a better place to continue this discussion.

This definitely looks like an elegant _solution_, but of course it doesn't answer the question yet if the current behavior of node is desired at all 😉 .

[2020-05-19 16:36] ljharb commented on #222
@SimenB the edge cases very much matter here; we need a way that works in *all cases* to identify the directory that a package resolves to, and with an "exports" that doesn't expose `package.json`, or `./`, and also has `.` resolve to a subdirectory, we can't.

I also don't think that's an edge case - that's "every package that uses exports and babel", which is likely to be the 99% case.

[2020-05-19 16:39] SimenB commented on #222
I don't think I've ever seen a nested package.json. Regardless, this isn't the correct issue to discuss it

[2020-05-19 16:43] ljharb commented on #222
`"type": "module"` will make it more common, I suspect, but you're right :-)

[2020-05-20 06:27] A-312 commented on #60
#162 is not merged on browsersify

Also 4 years after, this solution steals works fine:

[2020-05-20 06:38] ljharb commented on #60
@A-312 that PR is merged on this repo, and released in v1.8.0.

[2020-05-20 11:55] ehmicky opened #223 "Error messages are not precise enough"
I tried to run `resolve` against a library which had an invalid `main` field in `package.json`.

With `require.resolve()`, the error message is:

[code]

With `resolve`, it is:

[code]

Missing error information was critical in my use case, and it took some time to figure out why `resolve` was failing.

[2020-05-20 17:15] ljharb commented on #223
I’d be quite happy to review a PR that improved error messages.

[2020-05-20 17:25] ehmicky commented on #223
I am not sure I would have time for this unfortunately.

[2020-05-30 01:42] NMinhNguyen commented on #222
@SimenB does this count as a nested `package.json` or did you have something else in mind?

- https://unpkg.com/browse/@material-ui/core@4.10.0/package.json
- https://unpkg.com/browse/@material-ui/core@4.10.0/AppBar/package.json
- https://unpkg.com/browse/@material-ui/core@4.10.0/Button/package.json

[2020-05-31 07:32] arikon commented on #216
@ljharb My case is:
- I want to recursively copy all the dependencies, found in `package.json`
- one of the dependencies names is clashing with the core modules (`buffer` in my case), it is installed in `node_modules`
- `resolve` knows `buffer` as a core module, so it don't even try to find a module in `node_modules`, it's just returns `buffer`
- but I expected a full module path

[2020-05-31 07:34] arikon commented on #216
I think the fix could be `isCore()` check happening after `loadNodeModulesSync()` call here:
https://github.com/browserify/resolve/blob/master/lib/sync.js#L88-L93

[2020-05-31 08:02] octogonz commented on #216
@arikon Hrmm.... I just tried the following test with Node 10:

[code]

It resolves to `"buffer"` instead of `"node_modules/buffer"`.  In other words, Node.js system modules seem to take precedence over installed NPM packages with the same name.  Thus perhaps `resolve.sync()` is handling this case accurately.

Which package did you find that depends on `"buffer"`? Does it import the system module

[2020-05-31 08:03] ljharb commented on #216
Indeed, this is correct. Only bundlers would use the installed one (which can be chosen via some function options you can read about in the readme); `buffer/` would be how you'd do it in node and resolve by default.

[2020-05-31 08:17] arikon commented on #216
@octogonz `typeorm` depends on `buffer` package

[2020-05-31 08:19] octogonz commented on #216
And I see they indeed do:
[code]

[2020-05-31 08:21] octogonz commented on #216
@ljharb In our case we are crawling `dependencies` and `devDependencies` from **package.json**.  So if a name appears in package.json, we can reasonably assume that it is meant to be an NPM package, not a system module. And we could handle this by always appending `/` before calling `resolve.sync()`.

This solution feels slightly clumsy, though. It would be ideal if `resolve` provided an explicit

[2020-05-31 08:26] ljharb commented on #216
You're right you'd need code like `inPackageJSON(x) && isCore(x) ? `${x}/` : x`, but that doesn't seem particularly troublesome?

[2020-05-31 22:18] octogonz commented on #216
`` inPackageJSON(x) && isCore(x) ? `${x}/` : x `` isn't troublesome to write. Merely confusing for people who read the code later.

[2020-06-03 01:08] octogonz commented on #216
Another problem is that the error messages come back like this:
[code]
If I saw this error, my first thought would be "Oh, we must be accidentally appending a slash somewhere".

[2020-06-04 06:41] ljharb commented on #216
Why would the slash be appended for a non-core module? or do you mean, in the case where you unconditionally append a slash.

[2020-06-05 10:49] SimenB commented on #222
There you go, real usage. 😀 Still, it's off topic for this issue

[2020-06-11 00:03] matthew-dean commented on #223
Related to this, does the error list all variants tried, if you have multiple paths and extensions?

[2020-06-12 17:05] franciscop commented on #222
If a library adds an "exports" that does not include the "package.json", isn't that a breaking change and conscious decision from the library? It's the same as if the library adds a `"files"` or `.npmignore` which ignores some of the files and it breaks some 3rd party usage.

I'm not sure how extended `"exports"` is already, but might be only a handful of libraries that use `"exports"` but does no

[2020-06-12 18:11] ljharb commented on #222
@franciscop yes, it is. Adding "exports" is almost always a breaking change, unless you preserve every possible entry point (use `npx ls-exports` in your package and you can figure out if you're achieving that or not)

[2020-06-24 00:44] kumavis opened #225 "extname expansion does not include json"
[code]

[2020-06-24 00:46] kumavis commented on #225
resolve `v1.17.0` on node `v12.16.1`

[2020-06-24 00:53] kumavis commented on #225
as a workaround I'll just use the node builtin resolver
[code]

[2020-06-24 22:55] ljharb commented on #225
This is intentional; you can provide it in the extensions option. See #137 as well.

[2020-08-14 13:52] daniel-ac-martin opened #226 "v1.17 preserves symlinks by default"
The v1.17 release (and indeed the `1.x` branch) seems to default to preserving symlinks whereas the `master` branch does not.

Is this by design or is it a bug?

The root cause seems to be this line: https://github.com/browserify/resolve/blob/1.x/lib/sync.js#L42
It will only convert to a real path when the `preserveSymlinks` flag has been explicitly set to false.

Contrast that with this line (fro

[2020-08-14 14:00] daniel-ac-martin commented on #226
Sorry, I've just spotted the extra comment on the README of the `1.x` branch. It seems this is a bad default that you intend to fix in the next major release.

In that case, the problem I have is with the package calling resolve and not resolve itself.

Apologies for the inconvenience. I'll close this issue. Hopefully it will help someone else who come across this.

[2020-08-14 14:00] #226 closed

[2020-08-14 17:36] ljharb commented on #226
You can `npm install resolve@next` if you want to try out the latest v2 prerelease, which has this default flipped.

[2020-08-21 11:10] hqjs opened #228 "Support browser filed spec"
Support browser field spec https://github.com/defunctzombie/package-browser-field-spec

[2020-08-21 20:16] #228 closed, assigned to nobody

[2020-08-24 09:15] whitecolor commented on #188
`resolve` definitely not mimics `require.resolve` behavior in terms of `paths` option. In `require.resolve` it works as multiple `basedir`.

[2020-08-25 05:23] ljharb commented on #188
@watson are you interested in doing any of the steps I outlined above?

[2020-10-19 20:01] fvictorio opened #230 "Annoying deprecation warning"
`resolve@1.18.0` shows a deprecation warning when it's required:

[code]

This seems to me like it's being shown by mistake, since it's not the whole `resolve` that is deprecated, so why would it be shown with a plain require? Am I missing something here? Thanks!

[2020-10-19 20:17] ljharb commented on #230
Hmm, you're right, that shouldn't happen just on requiring the entry point. I'll fix that soon.

[2020-10-19 20:46] #230 closed

[2020-10-19 20:46] ljharb commented on #230
Fixed in v1.18.1.

[2020-10-20 01:08] fvictorio commented on #230
Thank you!

[2020-10-22 14:22] Cheesetouched commented on #223
Sounds interesting. Happy to look into this. Would drop updates here as I go.

[2020-10-22 20:10] cruzdanilo opened #231 "v1.18 fs/promises error"
v1.18 broke some eslint plugins inside vscode (node v12)

[code]
gives the following errors:
[code]
when running via cli using node v14 there is no error

[2020-10-22 20:16] ljharb commented on #231
`fs/promises` does not exist in node 12. It's only a core module in node 14+.

[2020-10-22 20:17] ljharb commented on #231
vscode should be using whatever node you have installed - in your case, it should be using node 14 if you're running your project in node 14.

[2020-10-22 20:28] cruzdanilo commented on #231
@ljharb this is a breaking change in a minor update

[2020-10-22 20:46] ljharb commented on #231
In what way is it a breaking change?

1. For `resolve`, it's an additive change (added in v1.16.0, btw, not v1.18.0), since it now reports `true` for an additional core module
1. For eslint plugins, new warnings are *not* semver-major, they are semver-minor, based on eslint's own semver policy.
1. In this case, it's clearly a bug fix, because in node 12, your code is broken, and these linting rule

[2020-10-22 20:50] cruzdanilo commented on #231
can't a ci build/deploy script run on a different node version from the production environment?
if this script stops on lint errors, wouldn't this error break it?

[2020-10-22 20:52] ljharb commented on #231
They can, but certainly shouldn't.

`resolve` has always used "the current version of node" to determine what constitutes a core module; this may just be the first time you've run into it because there aren't often new core modules added.

[2020-10-22 20:53] ljharb commented on #231
Put another way, any "fix" here would be to NEVER consider `fs/promises` a core module without a breaking change. In node 12, `fs/promises` has never actually been considered a core module by resolve or its dependents.

In other words, this isn't new breakage - in node 12, this code would never have passed the linter, as far as I can tell.

[2020-10-22 20:58] cruzdanilo commented on #231
yes, `fs/promises` + resolve@1.17.0 + node@12 definitely pass

[2020-10-22 21:08] ljharb commented on #231
oh hmm, you're right. That means that resolve v1.17 had a bug - `fs/promises` is only a core module in node `v10.0.0` and `v14+`. This remains a bugfix, albeit a potentially disruptive one - the bug was that prior to v1.18, `resolve` *incorrectly* reported that *every* possible core module was in fact a core module, even if it wasn't in that version of node.

This bug was introduced in e5da77e, in

[2020-10-24 02:32] #231 closed

[2020-10-27 01:17] calvinqc commented on #143
@ljharb Hi Jordan, this issue sounds very interesting even though it's been here for a long time. I'm wondering whether it's still opened and still recommended to work on now?

[2020-10-27 04:56] ljharb commented on #143
@calvinqc yes, that'd be great! Be mindful though, that changing error message text has been semver-major in the past, so I'm highly likely to only accept the PR into v2 (the default branch) and not be able to backport it into v1 (the 1.x branch).

[2020-10-29 00:16] krainboltgreene commented on #143
Is it still breaking if you get a generic semi-related error before and now you get a specific error?

[2020-10-29 06:18] ljharb commented on #143
@krainboltgreene yes, potentially - there are tools that rely on the exact string and type of an error that resolve throws in specific situations. I've broken angular-cli and ember-cli before by changing an error message, and am not anxious to repeat it.

[2020-11-02 03:19] krainboltgreene commented on #143
As the maintainer of a big project i feel that.

[2020-11-13 14:35] martpie commented on #199
What is exactly the status on this? I am facing a really weird issue.

using `resolve` from my app works fine with PnP, but when I publish a package which use `resolve`, when my package gets executed, I get resolutions errors:

[code]

So it looks like when something in `node_modules` tries to use `resolve`, PnP module resolution fails. Did I miss something?

[2020-11-25 14:48] martpie commented on #199
Ok, for anyone facing the same issue than me, make sure `basedir` is `process.cwd()` and not `__dirname`

[2020-11-30 21:52] Cheesetouched commented on #210
Sounds good @SimenB! Although, what exactly are you suggesting? Converting existing methods or adding another one?

[2020-11-30 22:49] SimenB commented on #210
https://github.com/browserify/resolve/pull/224#issuecomment-712640273 seems most likely (so a new API)

[2020-12-01 00:33] ljharb commented on #185
Closing, per https://github.com/browserify/resolve/pull/186#issuecomment-492922401

[2020-12-01 00:33] #185 closed

[2020-12-01 00:35] ljharb commented on #179
Closing; happy to reopen if that's not the case.

[2020-12-01 00:35] #179 closed

[2020-12-01 00:35] ljharb commented on #216
#233 has provided this.

[2020-12-01 00:35] #216 closed

[2020-12-01 00:36] ljharb commented on #225
Closing in favor of #166.

[2020-12-01 00:36] #225 closed

[2020-12-02 08:28] octogonz commented on #216
Thanks for implementing this!  We'll use it!

Yes, to skip core modules we had to unconditionally append a slash, and then the resulting error message wouldn't make sense to users.

[2020-12-23 22:28] #223 closed

[2020-12-23 22:28] #143 closed

[2021-01-07 12:28] overlookmotel commented on #222
I noticed @ljharb's [comment on Rollup repo](https://github.com/rollup/plugins/pull/693#issuecomment-743963555) mentioning that ESM resolution API is intended to be async only.

Just want to point out that there are use cases for a synchronous implementation.

Mine is: I'm transpiling ESM to CommonJS using Babel, replacing `import` statements with `require()`. I'd like to make resolution of import

[2021-01-07 15:44] ljharb commented on #222
node doesn’t have synchronous ESM resolution, because not every ESM specifier is possible to synchronously resolve. I wish this wasn’t the case, but babel needs a way for plugins to run asynchronously anyways, so hopefully this will help encourage that.

[2021-01-07 16:29] overlookmotel commented on #222
I thought Node's ESM *loader* has to be async due to top level await, but I wasn't aware of a reason why resolution of specifiers can't be synchronous as it's all static analysis. Am I wrong?

For my use case I'm OK not to support top level await. I'm aware that's not a perfect ESM to CJS translation, but it's close enough.

[2021-01-07 17:55] ljharb commented on #222
For filesystem specifiers, it can be. However, node wants to preserve the ability to later add, for example, https imports - and thus, so too must resolve.

[2021-01-08 19:01] overlookmotel commented on #222
@ljharb Thanks for reply. Ah, interesting. I hadn't though of that.

For HTTPS import, would resolution be searching up the folder hierarchy for a `package.json` file?

i.e. would `resolve( './foo.js', { basedir: 'https://www.example.com/' } )` try to fetch `https://www.example.com/package.json` and parse it?

If not, resolution could be sync - it'd resolve straight away to `'https://www.example.c

[2021-01-08 19:09] ljharb commented on #222
To be honest, it's very unclear. I personally think https imports are a horrifically bad idea, and i hope node never supports them, but the main thing is that until node's path is clear i need to keep resolve open to matching it.

[2021-01-09 16:30] overlookmotel commented on #222
@ljhard Thanks for explaining. Makes sense now!

[2021-01-09 16:40] overlookmotel commented on #222
That said... it seems like a pretty niche case. So if it were practical to provide a sync version (with an explicit warning that it does not support async resolution like https import), it could still be useful in the majority of cases.

I am using [enhanced-resolve](https://www.npmjs.com/package/enhanced-resolve) (Webpack's implementation) for now, which does provide sync resolution. But my under

[2021-01-20 22:20] jason-ha opened #235 "package is published with all test files"
Published package should be limited to content required to leverage it and exclude tests files. Test file currently are over half of the 1.19.0 package.

[2021-01-20 23:41] ljharb commented on #235
Tests should be published with every package, so that `npm explore foo && npm install && npm test` always works.

Installed package size is irrelevant; if you never require the test files, they'll never affect the runtime of your application.

Duplicate of #58. Duplicate of #44. See https://github.com/browserify/resolve/pull/105#issuecomment-266653976.

[2021-01-20 23:41] #235 closed

[2021-01-22 00:47] jason-ha commented on #235
I will actively disagree that such a sequence commands should always hold. For the projects I have surveyed that does not hold nor is it required. Testing should be performed prior to any publish. A package could incorporate a self-validate process, but full test is not of interest - go to the source if you want that.

This is not about the binary size of the package, but about surface area of cod

[2021-01-22 00:59] ljharb commented on #235
The source might not be available after installation, if the machine is offline.

Unfortunately, automated security scanning of files that are merely present on the filesystem is not a viable technique - instead, build a dependency graph, and only scan the files you use.

[2021-01-27 20:29] jason-ha commented on #235
Sorry not seeing the applicability of machine being offline. Testing for the package can be done once when the package (or new version) is first used. No need to run testing again until there is another change. In those cases machine must be online in order to get package.

I agree a dependency graph is ideal. However there is risk if dependencies are ever misunderstood. As code evolves that is li

[2021-01-27 20:36] ljharb commented on #235
I often need to run testing on installed dependencies, long after initial installation, when debugging an issue.

[2021-03-01 08:07] Profesor08 opened #237 "ReferenceError: process is not defined"
webpack 5 does no longer include a polyfill for this Node.js variable. Avoid using it in the frontend code.

https://webpack.js.org/migrate/5/#run-a-single-build-and-follow-advises

[code]

[2021-03-01 08:15] #237 closed

[2021-03-01 15:12] ljharb commented on #237
A non-broken node module bundler always provides process. You can unbreak webpack 5 by using the ProvidePlugin to inject node globals.

[2021-03-01 18:53] dlong500 commented on #231
I can't tell if my problem relates to this issue or not, but I'm using node 15.10 with the latest version of eslint and get an `Unable to resolve path to module` for an import like `import { stat, readdir } from 'fs/promises'`.  The odd thing is I'm finding almost nothing on Google on the topic (even though the promise-based import syntax is shown in the Node v15 docs).

[2021-03-01 20:49] ljharb commented on #231
@dlong500 are you getting that issue inside your editor, or on the command line? for example, vscode ships its own copy of node, so that's the version that `resolve` would be using.

[2021-03-01 21:07] ljharb commented on #231
I'm not sure if there's a way to configure vscode to run the proper node version, but it's always going to be a problem with vscode using a node version that doesn't match the one you use.

[2021-03-01 21:18] dlong500 commented on #231
That seems like a fundamental flaw in how a linter works in the context of an editor.  Shouldn't linting always be based (as much as possible) on the production environment rather than the development environment?  In this case, it's not even the development environment, but a sub-environment specific to the editor runtime that has nothing at all to do with the actual code runtime environment(s).

[2021-03-01 22:09] ljharb commented on #231
It's indeed a fundamental flaw in *in-editor linters*.

eslint itself is *ran* by node; it's impossible for it to specify which node version is used because at that point it has already been invoked.

[2021-03-02 04:16] dlong500 commented on #231
Just to follow up:  I did figure out with the vscode eslint extension you can add an `eslint.runtime` setting to specify a node executable to use when running eslint.  This is supposed to be a path, but just setting `eslint.runtime: "node"` appears to be enough to get eslint to use the version of node installed on the system and not the internal version used by vscode (it probably works because it

[2021-03-03 09:13] jason-ha commented on #235
Not a flow I am following. You are running tests on a package installed a long time ago and nothing has changed in the meantime? And expecting different results than syncing source to said version and running the tests? Syncing source should always be an option, right? I am assuming it is more than just convenience; otherwise I don't see that outweighing limiting exposure.

[2021-03-03 15:20] ljharb commented on #235
@jason-ha many things may have changed in the meantime - for example, the node version itself, or my own code that’s now calling the package with different options.

[2021-03-03 19:12] jason-ha commented on #235
Okay node version, though that feels like a bit of a stretch -- well, let's make sure we are talking about the same situation. I think we are talking about installing `resolve` package per another use and testing `resolve` package in that context, right? So you try to keep old (& random?) versions of `resolve` validated in this way? Seems like a maintenance nightmare if trying to support all of th

[2021-03-03 20:11] ljharb commented on #235
As the maintainer of resolve, I don't need resolve itself to work this way, because I have the repo on my machine already.

However, let's say I wasn't the maintainer of resolve. Then, I'd want to be able to have it installed in my node_modules, and not have to have internet access (i could be on a plane, or traveling, or the power's out) nor have to track down the repository location (which might

[2021-03-04 10:11] jason-ha commented on #235
As a user of resolve, I currently value not having the test code more. And that is true for all of the packages my org is using.

In the use pattern you listed, you will still require internet access per the `npm install` step. I don't think the use case for the pattern is high when offline. I am would be curious for the things you listed how many times in the past 3 months you have exercised them

[2021-03-04 14:59] ljharb commented on #235
Having the test code is an inconvenience for you; not having it makes a different use case impossible, and "possible" should always override "convenient".

I would require internet access for the _initial_ `npm install` step, but internet access is a transitory thing. By the time I need the test files, I might not have internet access - and in non-covid times, i would have used that many times in

[2021-03-08 19:11] jason-ha commented on #235
I agree "possible" trumps "convenience". But it seems that suggests not having the test code present.
a) For a fully robust security scan we want to scan all of the files present and
b) there is no mechanism present to remove test code from packages or to avoid download in the first place except to exclude from package.
c) There are options available for your case which seem to have advantages ove

[2021-03-08 23:21] ljharb commented on #235
The nature of JavaScript is that it's impossible to do a "fully robust security scan" merely based on the filesystem. You have to scan your program's actual dependency graph.

Additionally, even if I updated all of my packages to remove test code, there are packages in wide use that ship tests that will never again be updated, so it's simply not a solvable problem.

Not all of them; I do it manual

[2021-03-09 09:30] jason-ha commented on #235
I am not sure I know what you mean when claiming it is impossible to do a security scan based on files. In any case, we still want to do the best security scan that we can. And it is absolutely the case that systems will be more successful when we can reduce the scope of what is possible. Reducing surface area is a best practice.

There is no ask here for you to be responsible for packages you hav

[2021-03-23 12:08] JounQin opened #238 "All files are included into npm"

[2021-03-23 16:38] ljharb commented on #238
This is quite intentional. Those files must be included.

Duplicate of #235. Duplicate of #58. Duplicate of #44. See https://github.com/browserify/resolve/pull/105#issuecomment-266653976.

[2021-03-23 16:38] #238 closed

[2021-03-23 16:49] JounQin commented on #238
@ljharb

I didn't get the point why `npm test` should be run inside `node_modules`.

If you want to test, you can always use git version to install the package.

I raised the PR because when I open the file in VSCode, `vscode-eslint` reports `@ljharb` config not found because there is a `.eslintrc` in the package.

[2021-03-23 16:53] ljharb commented on #238
why would you be trying to lint files in node_modules (when not cding into the package directly)? that seems like vscode-eslint is broken.

I can't, in fact, always use the git version, because I might not have internet access when I need to run the tests.

Either way, whether you get the point or not is irrelevant; it's a critical use case for me, and every package I maintain will always publish

[2021-03-23 17:10] JounQin commented on #238
It's automatically done by `vscode-eslint`. You can say `vscode-eslint` is broken, or not. Because there is a `.eslintrc`, why not read it?

But for this package, I suppose you always have the access, didn't you?

Well, again, you're the boss here. I just want  say that this package is very popular, and the installation size is also important. I understand your own workflow, that's great. But as y

[2021-03-23 17:12] ljharb commented on #238
I don't find installation size to be that important - it's all tarballed, and untarring it, whether large or small, is basically equally instantaneous.

[2021-04-13 15:01] TayHobbs opened #240 "ReDoS in unmaintained path-parse dependency"
[path-parse](https://github.com/jbgutierrez/path-parse/) has a security vulnerability that has been reported but not fixed in two years (https://github.com/jbgutierrez/path-parse/issues/8). Additionally, it still has not enabled 2fa. Is it possible for this project to remove path-parse as a dependency or move to a new library?

Thank you!

[2021-04-13 15:26] ljharb commented on #240
How can you possibly know if it’s enabled 2FA?

For the record, i don’t consider this a vulnerability in path-parse or in resolve - if you are using resolve with unsanitized user-created paths, hen *you* have the vulnerability.

Do you have an alternative library to suggest?

[2021-04-13 18:06] TayHobbs commented on #240
Apologies, meant to link this issue in my initial comment: https://github.com/jbgutierrez/path-parse/issues/5 is what I'm using as my basis for not having 2FA.

Potentially [parse-path](https://github.com/IonicaBizau/parse-path) which looks well-maintained and the documentation says it works with local paths or native node.js `path.parse`.

Resolve is a dependency of a dependency in our projects a

[2021-04-13 19:44] ljharb commented on #240
That has a lot of dependencies - and *two* of them are query string parsers. I'd prefer to find something simpler. We also need to retain node compatibility < v0.6.

In your report, is there a link to a public CVE or vulnerability report? or is there just that one issue?

Either way, you could use (once they exist) npm overrides to replace `path-parse` with `require('path').parse` if you know you

[2021-04-13 20:30] TayHobbs commented on #240
Our report just points to that issue. Thank you for the guidance, we'll work with that and create an exception for path-parse if `resolve` is not concerned with it.

[2021-04-13 20:32] ljharb commented on #240
I don't think it's a legitimate security concern, no - but if there's an easy way to avoid false positive warnings like this, I'm happy to accept such a change.

[2021-04-13 21:45] TayHobbs commented on #240
I think the easiest fix is for path-parse to address or close the issue so it doesn't show up in reports, but that is not something resolve can fix. At this point, I think we can close this issue based on our discussion.

[2021-05-05 12:54] alasdairhurst commented on #240
The public CVE for this issue is https://nvd.nist.gov/vuln/detail/CVE-2021-23343

[2021-05-06 10:39] modestfake commented on #240
@ljharb just curious, why do you want to support < v0.6? Current LTS versions of Node.js are 12 and 14.

[2021-05-06 13:36] ljharb commented on #240
For one, because we already do, and it would be semver-major to drop it.

Separately, LTS status is irrelevant; just because node won’t support it doesn’t mean package authors shouldn’t.

[2021-05-07 09:01] echalone opened #242 "+ sign in filename breaks vsix extensions"
Hi, the "+" sign in the file name of the (since 1.19.0) new file ".github/workflows/node-4+.yml" breaks VSIX extensions which use this package since the path of the file is added as the asset type for each file in the extension.vsixmanifest manifest-file and a "+" sign is not allowed in there. The package will not be installable afterwards. Please just remove the + sign from the file name (name it

[2021-05-07 14:34] ljharb commented on #242
What is VSIX?

Either way, that file isn't included in the published package, and nothing should ever be consuming the repo unless you're developing the project, so I'm not sure why it's causing a problem.

[2021-05-10 06:54] echalone commented on #242
Hi, sorry, VSIX is the file extension for Visual Studio extensions, which are also used for Team Foundation/Azure DevOps extensions.
You're right, apperantly this file is no longer included in the newest package versions (but it was in older, which produced that problem) and all I had to do is make sure the newest version is retrieved. Thanks :)

I know that + is a valid character for file names a

[2021-05-10 18:52] #242 closed

[2021-05-12 07:51] sfowl commented on #240
The snyk report describes the CVE as affecting three functions: splitDeviceRe, splitPathRe, splitTailRe:

https://snyk.io/vuln/SNYK-JS-PATHPARSE-1077067

I don't see usage of those functions in browserify/resolve:

https://github.com/browserify/resolve/search?q=splitDeviceRe
https://github.com/browserify/resolve/search?q=splitPathRe
https://github.com/browserify/resolve/search?q=splitTailRe

Based

[2021-05-12 14:54] ljharb commented on #240
That does, however, suggest that I could fork path-parse, delete the parts resolve doesn't use, and thus bypass the CVE.

I'll reopen this and plan on doing that, since the maintainer of path-parse hasn't responded.

[2021-05-12 14:57] ljharb commented on #240
ah - on a second look, indeed `resolve` (and every user of `path-parse`) does use the problematic functions, so unfortunately @sfowl's analysis is inaccurate.

https://github.com/jbgutierrez/path-parse/blob/master/index.js#L87-L90 is where the implementation is conditionally exported; and even in the linux implementation, `splitPathRe` is used.

[2021-05-12 14:57] #240 closed

[2021-05-17 18:20] jeffreynerona opened #243 "path-parse dependency vulnerability"
CVE link: https://nvd.nist.gov/vuln/detail/CVE-2021-23343
https://github.com/jbgutierrez/path-parse/issues/8

[2021-05-17 18:31] ljharb commented on #243
Duplicate of #240. Also, not an actual vulnerability for this package.

[2021-05-17 18:31] #243 closed

[2021-05-20 07:16] timjswan opened #244 "Path parse whitesource issue"
![image](https://user-images.githubusercontent.com/11652008/118935595-9d6c4d00-b943-11eb-8304-55f6b60499d9.png)

[2021-05-20 19:47] ljharb commented on #244
It's not an actual vulnerability for `resolve`. Duplicate of #240. Duplicate of #243.

[2021-05-20 19:47] #244 closed

[2021-06-14 00:03] shaunek opened #246 "Publish new version of 1.x branch to npm with updated dependency of path-parse"
The path-parse package dependency [had a reported security vulnerability](https://snyk.io/vuln/SNYK-JS-PATHPARSE-1077067) and they have subsequently published an update (from parse-path v 1.0.6 to 1.0.7).

Currently the 1.x branch in this repository has updated to the secure version of the path-parse package (see commit d7f5c3e), however it does not appear that this has been published to npm yet.

[2021-06-14 01:03] ljharb commented on #246
This isn’t needed, because of how semver ranges work.

Either way, it's not an actual vulnerability for `resolve`. Duplicate of #240. Duplicate of #243. Duplicate of #244.

[2021-06-14 01:03] #246 closed

[2021-06-14 15:39] shaunek commented on #246
Agreed. Apologies for the duplicate ticket. Thanks for the support

[2021-06-15 12:42] isatria opened #247 "path-parse vulnerability"
Vulnerability: [CVE-2021-23343](https://nvd.nist.gov/vuln/detail/CVE-2021-23343) Medium severity
Dependency: path-parse

|─┬ resolve@1.20.0
| └─┬ path-parse@1.0.6

Are you have the schedule to resolve this issue anytime soon?

it's causing a medium severity vulnerability and I believe they already fix it on v1.0.7

[2021-06-15 13:49] ljharb commented on #247
It's already resolved in path-parse v1.0.7, and the `^` range means there's nothing that's needed here - just update it in your lockfile.

Additionally, this was never a vulnerability for resolve itself; it's a false positive.

Duplicate of #240. Duplicate of #243. Duplicate of #244. Duplicate of #246.

[2021-06-15 13:49] #247 closed

[2021-06-26 13:52] cekvenich2 opened #249 "how to get a version in node .js of a package?"
I'd like to find a version of a package in node.js, how would I do that?

[2021-06-26 14:55] ljharb commented on #249
I’m not sure what you’re asking - generally you’d `require('package/package.json').version`, but this really doesn’t have anything to do with the resolve package.

[2021-06-26 14:55] #249 closed

[2021-07-13 16:32] achingbrain opened #250 "Multi level "exports" not supported?"
The [multiformats](https://www.npmjs.com/package/multiformats) module has the following fields in it's `package.json`:

[code]

and the following directory structure:

[code]

When using browserify on a project that depends on multiformats, I see errors when trying to require anything greater than one level deep in the module:

[code]

[code]

[code]

Is this intentional?  I can't see where this m

[2021-07-13 16:44] ljharb commented on #250
`resolve` does not yet support the "exports" field in any way; see #224.

Regardless, for backwards compatibility, packages like multiformats should be mimicking the "exports" structure in a CJS-compatible directory structure - at which point, tools like resolve will Just Work.

[2021-07-14 16:18] achingbrain commented on #250
After digging a bit deeper this has nothing to do with the `"exports"` field.  Browserify won't consult the `browser` map in `package.json` to see if a file should be overridden if it can't resolve the original file in the first place.

That is, you can't use `browser` values as a hint to Browserify as to where to look for the file for a given path that's been `require`d in the same way you can wi

[2021-07-14 20:52] ljharb commented on #250
New node will, yes, but old node won't use `exports` or `browser` - so the "exports" structure should still be represented in actual requireable CJS files in the filesystem.

[2021-07-15 15:33] ATheCoder opened #251 "Prioritize moduleDirectory array elements"
I'm not sure if this is expected behavior for everyone or not.

But when I was using [Jest](https://github.com/facebook/jest), I supplied the array `['node_modules', '.']` to the `moduleDirectories` option in the Jest config file.

What I expected was that `node_modules` would have a priority over `.`, meaning if a module exists in both `node_modules` and the local folder, it should get imported f

[2021-07-15 16:04] ljharb commented on #251
nodeModuleDirs is applied in each directory, so I’m not sure why you’d have that expectation.

node doesn’t work in this manner at all, because it doesn’t allow the resolution algorithm to be overridden.

[2021-07-15 22:14] achingbrain commented on #250
This has been fixed by the linked ipjs PR

[2021-07-15 22:14] #250 closed

[2021-07-22 22:42] jasonk commented on #102
Node does the same thing that resolve does, it uses whatever `main` said to use.  `extensions` isn't a filter, it's a search list used when trying to locate files for an import that might not have an extension included.

[2021-07-22 22:49] ljharb commented on #102
@jasonk right, but if you put "index" in "main", node will search through `require.extensions` to match it, and will also look for a "main" in `index/` if that's a directory.

[2021-08-26 14:35] Avetik666 opened #252 "Version update"
Can you update path-parse dependency that you use? It includes important security changes.

[2021-08-26 15:03] #252 closed, assigned to nobody

[2021-10-01 06:37] brillout commented on #222
This is a blocker for Vite, see https://github.com/vitejs/vite/discussions/4921#discussioncomment-1376930

[2021-10-02 08:37] Heufiih commented on #169
Ok

[2021-10-12 07:48] SimenB opened #253 "`pathFilter` (or some new API) should support implementations of `exports`"
In lieu of this module supporting `exports` out of the box, it would be awesome if consumers could use its existing capabilities (`packageFilter`, `pathFilter` etc.) to implement support for `exports` on the consumer side.

I have experimented a bit with this, and from what I can tell there are 2 issues:

1. `resolve` adds `index` if a directory is specified (https://github.com/browserify/resolve/

[2021-10-12 10:11] anschm opened #254 "Support browser filed"
I am using jest for my unit tests. Jest provides a default resolver which is used by nx. Now I have a lib which provides node and browser source code by using the browser field to override the main field. In my tests I would like to use the browser sources and it seems that the browserify resolver which is used by the jest default resolver doesn't support this. I know there is a browser-resolver w

[2021-10-12 16:53] ljharb commented on #254
`resolve` matches node, which doesn't look at the browser field.

You want https://www.npmjs.com/package/browser-resolve for that.

Jest would need to provide a way to configure this, even if `resolve` added it behind an option.

[2021-10-12 16:53] #254 closed, assigned to nobody

[2021-10-13 08:41] SimenB commented on #253
1. True about it becoming obsolete once native supports lands, but it could be removed in a v2 or something? And the logic itself would be kept, just no way of manually switching it on or off

2. `pathFilter` - no leading dot, so it has no way of knowing if the request was `require('module/file')` or `require('./file')` from within `module/index.js` for instance. The `relativePath` arg passed in t

[2021-10-14 22:10] ljharb commented on #253
Seems fine - part of the reason `resolve`'s implementation has taken so long is that without gobs and gobs of test cases, it's hard for me to be confident I've gotten it right (and almost every time i've added a fixture project, i find a way i got it wrong) - so you may want to look into adding lots of tests :-)

[2021-10-14 22:25] SimenB commented on #253
Right, it breaks a test, but I think that test is faulty (it imports a "local" module with a package.json with `exports` via a relative path, but that is not in `node_modules`). I think that's just wrong behavior, so it failing now is actually a bug fix and my old test was just bad 😅

Might just roll this out behind a config flag and hope people test it and report instances where it behaves wrong

[2021-11-01 19:11] markjm opened #255 "Use throwIfNoEntry for default isFile and isDirectory"
Similar to https://github.com/webpack/enhanced-resolve/issues/316

Performance of skipping error generation is significant (mini-benchmark present in above issue) and the API is backward compatible.

Since this project doesnt use graceful-fs, this change should be available to make right now. I do somewhat worry about usage of monkeypatched graceful-fs, though, as that seems to fall into a weird g

[2021-11-01 19:19] ljharb commented on #255
I'm not sure I understand what you're proposing.

We use `fs`, not `graceful-fs`, and it definitely seems very strange to add an option node doesn't support just in case someone is using graceful-fs to patch the builtin.

[2021-11-01 19:23] markjm commented on #255
Sorry I should clarify:

throwIfNoEntry is a node supported option that is much more performant than letting statSync throw and immediately catch it (https://nodejs.org/api/fs.html#fsstatsyncpath-options). For that reason, I believe we should use that option here. The option is a no-op in older versions of node, so long as you just keep the try/catch block the same. I will create a PR to showcase

[2021-11-01 19:25] ljharb commented on #255
It is none of our concern what someone does with graceful-fs; that's not a supported use case since it involves monkeypatching.

[2021-11-01 19:29] markjm commented on #255
@ljharb I have linked the change here

[2021-11-02 06:12] #255 closed

[2021-11-26 21:19] RajakumarSidhan opened #258 "Dependency package "path-parse - 1.0.6" is reported as vulnerable by Whitesource scan"
Hi,
While running whitesource scan it reported that one of the dependent package as vulnerable.

![image](https://user-images.githubusercontent.com/22787486/143655647-af7601fb-0ad2-455d-aefa-feac2dce3165.png)

Reporting the same and kindly provide a fix;

Regards
Raja

[2021-11-26 21:59] ljharb commented on #258
There's no fix required; path-parse v1.0.7 is not vulnerable, and resolve uses `^` - a semver range, which means you can upgrade the transitive dep yourself.

Duplicate of #252. Duplicate of #247. Duplicate of #240. Duplicate of #243. Duplicate of #244. Duplicate of #246.

[2021-11-26 21:59] #258 closed

[2021-12-02 22:17] dreyks commented on #222
regarding the package exports - they're no longer exclusive to ESM. the documentation is moved to `Modules: Packages` and applies to CJS too

considering the number of packages that rely on resolve (jest, eslint-plugin-import, etc.) and the number of packages that are starting to drop the `main` field in favor of `exports`, should this feature be implemented separately to ESM support?

because rig

[2021-12-02 23:24] ljharb commented on #222
@dreyks they've never been exclusive to ESM :-)

Yes, absolutely. The plan has always been to add `exports` support for CJS first, and then for ESM separately, but 99% of the work is in that first part.

[2021-12-03 07:02] dreyks commented on #222
oh, i see. i got confused by the issue name and by the fact that the initial doc link leads to "ESModules: package exports"

[2021-12-29 03:34] soakit opened #261 "not support absolute path?"
file structure
[code]

index.js
[code]

get error
[code]

[2021-12-29 16:43] ljharb commented on #261
So you actually do have that file in an absolute location? That's generally considered a very bad practice, because it makes code nonportable.

Either way, this does seem like a bug; an absolute path shouldn't be relative to the current directory (i assume `process.cwd()` is your home dir?)

[2021-12-29 17:09] ljharb commented on #261
I'm unable to reproduce this. What version of `resolve` are you using?

[2021-12-29 18:01] #261 closed

[2021-12-29 18:01] ljharb commented on #261
I've closed this with passing tests, but I'm happy to keep working through the issue, and will reopen it if there's something actionable for this package.

[2021-12-29 18:21] ljharb commented on #89
(To be clear, the `moduleDirectory` option isn't relevant to this issue)

I've written some tests I'll add to the v1.x branch that cover the current behavior (once i figure out how to get eslint not to error out on the malformed package.json). My current plan is to make a change in v2.x on the default branch, that instead of `undefined` here, you get the SyntaxError from failing to parse it.

[2021-12-29 19:47] ljharb commented on #89
I'm not actually sure what the best fix is here.

The current change I'm making for v2 is that `readPackage`/`readPackageSync` will now be allowed to produce a SyntaxError, and that will be ignored, which simplifies the implementation of `readPackageSync` in particular.  However, this still would end up resolving something when package.json is malformed.

Since this is what node itself does - igno

[2021-12-30 06:04] soakit commented on #261
`basedir` has no meaning when using absolute paths.

Intuitively, the absolute path should be based on `basedir`.

[2021-12-30 07:07] ljharb commented on #261
Indeed, the basedir should be entirely irrelevant - basedir should only affect paths starting with `.`, or bare identifiers.

The tests I added show that this is indeed the current behavior in both v1.x and v2.x.

What version of resolve are you using where this isn't the case?

[2022-01-03 17:05] #89 closed

[2022-01-03 17:05] #102 closed

[2022-01-03 17:06] ljharb commented on #199
@arcanix given this is in v1.15+, and since i'd prefer not to hardcode PnP stuff in this package, it seems like this can be closed. lmk if it needs to be reopened.

[2022-01-03 17:06] #199 closed

[2022-01-03 17:07] #251 closed

[2022-01-03 17:07] ljharb commented on #193
This seems answered; happy to reopen if there's something actionable for this package.

[2022-01-03 17:07] #193 closed

[2022-01-03 17:08] ljharb commented on #163
I'm unclear on what needs to be done here. Could anyone provide a repro repo, or better, a failing test case?

[2022-01-03 17:11] ljharb commented on #129
@javihernandez can you confirm that v2 of `resolve` (which needs to be explicitly installed) fixes this issue?

[2022-01-03 17:12] #129 closed

[2022-01-04 06:41] ljharb commented on #188
I've added bullet point 2 in 067db38.

If you could give me some examples of test cases for `paths` with more than one item, i can look into supporting it in `resolve`.

[2022-01-04 07:45] paritosh-yadav opened #262 "intentionally malformed package.json fixture in tests breaks flowtype when checking node_modules"
**Steps to regenerate:-**

- `npm install resolve`
- run `flow` command

flow output:-

`Error ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ node_modules/resolve/test/resolver/malformed_package_json/package.json:2:1
Unexpected end of input, expected the token }`

     1│ {
     2│

@ljharb, Kindly respond. Thank you

[2022-01-04 15:06] ljharb commented on #262
Why is flow checking node_modules?

[2022-01-04 17:55] TrySound commented on #262
To collect published types. It finds package.json to check for entry point and cannot parse it. Why tests are published anyway? Do they or ci configs have any use in node_modules?

[2022-01-04 18:03] ljharb commented on #262
Tests are published in all my packages because `npm explore foo && npm install && npm test` should always work.

[2022-01-04 18:04] ljharb commented on #262
It seems like a bug should be filed on flow so that it doesn't fail when it encounters invalid JSON, especially inside node_modules.

[2022-01-05 08:29] paritosh-yadav commented on #262
Hi @ljharb ,

I have ignored the lib in flow config. Previously ignoring lib isn't working, but now it is.

[2022-01-05 10:22] benbender opened #264 "v1.21.0 breaks with next.js, or without graceful-fs upgrade"
Sadly, v1.21.0 seems to break babel-plugin-macros. If I pin `resolve` to `v1.20.0`, everything is fine. `2.0.0-next.3` also seems to be working. This is especially hard to debug, as its a transient dependency of many libs/plugins and a minor update. It took me quite a while to find it... :)

Related stacktrace:

[code]

[2022-01-05 13:46] tvsbrent commented on #264
Can confirm, we ran into the same issue with version 1.21.0 with a dependency that referenced `@babel/core`. We had to pin to version 1.20.0 to resolve the issue. We think this change in version 1.21.0 is what's causing it:

[code]

My guess is that libraries were depending on the error being thrown to determine that the file / directory wasn't present.

[2022-01-05 15:57] ljharb commented on #264
Oof, ok - any idea which ones?

[2022-01-05 16:26] tvsbrent commented on #264
In our particular case, the library that was the upstream dependent of `@babel/core` was the `@cypress/code-coverager` library. Here's a snippet of the dependency tree:

[code]

[2022-01-05 16:30] ljharb commented on #264
And it was Babel breaking, or cypress?

[2022-01-05 16:41] benbender commented on #264
@ljharb It was babel, in my case, babel-plugin-macros. Cypress played no role in my setup (see the stacktrace above).

[2022-01-05 16:45] tvsbrent commented on #264
This is the full stack from Cypress. We were hacking up code yesterday to understand the issue, and I _think_ we modified `graceful-fs/polyfills.js` to allow it to handle a null response from the stat function.

[code]

[2022-01-05 16:50] ljharb commented on #264
@benbender's example doesn't include graceful-fs either, which is helpful to narrow things down. However, it is using pnpm, which complicates matters. @benbender, you said v2 also works - how are you confirming that?

@tvsbrent's example suggests it might be the graceful-fs bug that should be fixed by yesterday evening's release of graceful-fs - can you confirm graceful-fs is fully upgraded?

To b

[2022-01-05 16:53] ljharb commented on #262
I'd still suggest filing a bug on flow itself, so that *by default* it doesn't crash on this case.

Closing, since the only issue I know about here is caused by flow, and ignoring the file in flow config works. Happy to reopen if a different scenario is causing problems.

[2022-01-05 16:53] #262 closed

[2022-01-05 17:02] tvsbrent commented on #264
@ljharb Yep, it does appear that using 4.29 of `graceful-fs` addresses the issue we were seeing.

[2022-01-05 17:16] benbender commented on #264
@ljharb it's not depending on the package manager - npm, yarn, pnpm have the same issue (confirmed this morning).
You could use https://github.com/vercel/next.js/tree/canary/examples/with-babel-macros as a quite simple reproduction for testing. Simply clone it and run "npm install && npm dev" to see the error in the browser.

About v2 working: I've pinned both version (v1.20 and v2) and both were

[2022-01-05 17:23] ljharb commented on #264
Thanks, trying to repro now. Any error on the command line, or only in the browser (which would implicate the bundler)?

[2022-01-05 17:26] benbender commented on #264
@ljharb you should see `TypeError: Cannot read property 'uid' of undefined` on the cli and the browser's console. The stacktrace was only visible in the browser. Seeing the error in both cases depends simply on nextjs' ability to do server-side rendering, so no clear indication in my view.

[2022-01-05 17:30] ljharb commented on #264
@benbender the stack trace suggests that it's because `next/dist/compiled/@vercel/nft` ships with graceful-fs compiled directly into it, so it's lacking the bugfix published 16 hours ago.

It seems like a pretty big concern that next is publishing bundled third-party modules, but it also seems like the quickest fix is for `next` to update its deps and publish a new release.

[2022-01-05 17:42] benbender commented on #264
@ljharb I don't think that this is the problem. The problem occurred without an update of nextjs and is *not* resolved if I pin `graceful-fs` to v4.2.9... Sorry!

[2022-01-05 18:57] benbender commented on #264
@ljharb would you be able to open a bug in [@vercel/nft](https://github.com/vercel/nft) as you have the deeper understanding of the problem?

[2022-01-05 19:17] ljharb commented on #264
I don’t use it; it’d be great if you filed it, and I’ll comment on it to expand as i can.

[2022-01-05 19:53] jacksontims123 commented on #262
So you can ignore when problems arise in flow?

[2022-01-05 20:03] ljharb commented on #262
@jacksontims123 i closed this under the assumption that https://github.com/browserify/resolve/issues/262#issuecomment-1005478850 means you can indeed ignore that file path, and flow will avoid crashing.

[2022-01-05 20:42] benbender commented on #264
Done in https://github.com/vercel/nft/issues/257

[2022-01-05 21:12] augustofnl opened #265 "Error with incorrectly closed json"
Could you please fix this json closure?

![image](https://user-images.githubusercontent.com/2956310/148289952-161ec222-7bc6-4ec7-a618-04f6dcc56564.png)

[2022-01-05 21:17] ljharb commented on #265
Nope, it's not broken. It's an intentionally malformed package.json file for testing purposes (note the filename).

If it's causing issues for you, detailing those might be helpful.

See also #262.

[2022-01-05 21:17] #265 closed

[2022-01-05 21:25] markjm commented on #264
Yikes, @ljharb - looks like my concern about unintended use & monkey patching did come back to bite us 😅. Happy to see graceful-fs produced the requisite change and things are unbroken again.

[2022-01-05 21:35] ljharb commented on #264
@benbender looks like the issue needs to be filed on `next` itself, since that's the package doing the problematic bundling.

[2022-01-06 14:57] DavidShefcik opened #266 "Intentionally malformed package.json causing build errors with meteor"
I saw this was talked about in #265 but I am in a situation where I can not ignore node modules. I am using meteor.js for my project and one of my dependencies is using this package, but when meteor starts it sees the malformed package.json and crashes on start. I am not able to make it ignore node modules.

When I run `meteor` to start my application I get this error. After some digging it was ca

[2022-01-06 15:58] ljharb commented on #266
Has a bug been filed on meteor? Anything that interacts with third-party code can’t ever make any assumptions about it, including that it’s valid json.

The tests are intentionally included; `npm explore foo && npm install && npm test` should always work.

[2022-01-06 16:40] DavidShefcik commented on #266
I'll file one with Meteor and see what they say but I don't see why the end developer needs the repo files including the tests in the package. Most of the packages I've seen exclude them because there really is no need for the developer to run unit tests on an installed package. If a dev wants to do that they usually should pull the repo itself

[2022-01-06 17:11] ljharb commented on #266
I don’t want to have to have an internet connection to run a dep’s tests.

Either way, that debate isn’t going to solve anything here.

i don’t understand why meteor is processing files that aren’t used by your code - does it read the readme as well, and the eslint config?

[2022-01-06 17:58] DavidShefcik commented on #266
Meteor tries to process the package.json files in the node_modules to determine any extra things it needs to install. This is because it marks dependencies that have either `preinstall`, `install`, or `postinstall` scripts as not portable so it knows it has to reinstall them when the architecture the app is running on changes - https://github.com/meteor/meteor/blob/release-2.3.4/tools/isobuild/met

[2022-01-06 17:58] #266 closed

[2022-01-06 21:01] cadejscroggins commented on #264
@ljharb upgrading to `next@12.0.8-canary.19` did indeed fix this issue for me.

I came across the error by using [babel-plugin-inline-react-svg](https://github.com/airbnb/babel-plugin-inline-react-svg/issues/113) for reference.

[2022-01-06 21:29] ljharb commented on #264
Great to hear. I'll close this once v12.0.8 of next is published.

In summary:
 - v1.21 of `resolve` started using `throwIfNoEntry` with `fs.statSync`
 - `graceful-fs` had a bug with `throwIfNoEntry`, which was fixed in v4.2.9. (Using `resolve` v1.2` and `graceful-fs` < 4.2.9 in combination is one way to trigger the bug)
 - `next` prior to v12.0.8 sadly bundles, transitively, a version of `gracefu

[2022-01-07 08:42] mafintosh opened #267 "custom path module"
Hi! We have a use case where we'd like to do our own resolve,dirname,join logic. We have a (crude) workaround for now, would you be interested in a PR that adds a path option like we can do we the fs ops?

[2022-01-07 16:01] ljharb commented on #267
Can you elaborate on that option and what you’d like it to do? We already have a pathFilter option.

[2022-01-07 16:17] ljharb commented on #267
I don’t think it makes any sense to use this library for URLs; file paths aren’t URLs, and resolve does lots of filesystem interaction. The only way to resolve a URL is to fetch it.

[2022-01-07 17:35] mafintosh commented on #267
Yea, I can abstract all of that already using the readFile hooks etc, just need a similar hook for path

[2022-01-07 19:10] ljharb commented on #267
So which specific thing are you trying to hook into? The path.join calls?

[2022-01-09 04:20] mk-pmb commented on #163
Bug demo in GitLab Actions: https://github.com/mk-pmb/browserify-resolve-symlink-163

[2022-01-09 20:14] mafintosh commented on #267
All the stuff that happens with path, ie `resolve(..., { path: myOwnPath })`

[2022-01-09 21:22] ljharb commented on #267
In sync, I see:
 - `path.join`:
   - https://github.com/browserify/resolve/blob/main/lib/sync.js#L55
   - https://github.com/browserify/resolve/blob/main/lib/sync.js#L138
   - https://github.com/browserify/resolve/blob/main/lib/sync.js#L161
   - https://github.com/browserify/resolve/blob/main/lib/sync.js#L195
 - `path.dirname`:
   - https://github.com/browserify/resolve/blob/main/lib/sync.js#L78

[2022-01-10 08:44] markstanley-nps opened #268 "Consider excluding test code from the npm package"
The npm package currently includes the test code. Is it possible to exclude it from the production package in the .npmignore file.

The benefit of including the test code is that tests can be run on production systems. However in this case the inclusion of the new test for the malformed package (https://github.com/browserify/resolve/blob/067db38df700632c4de505f31537400c8185dae1/test/resolver/malfo

[2022-01-10 15:54] ljharb commented on #268
There’s nothing to fix; they’re included by design. `npm install foo && npm explore foo && npm install && npm test` should always work.

If a tool, like flow or a license scanner, is operating on third party code (like in node_modules) it is objectively incorrect for it to assume that a) it’s well-formed/valid and b) that the user can easily fix it, which means that failing unrecoverably is a *bug

[2022-01-11 05:11] yeongsheng-tan commented on #264
More like pinning resolve to 1.20.0 solved it for me rather than graceful-fs@4.2.9

[2022-01-11 05:21] ljharb commented on #264
@yeongsheng-tan that's not really a helpful comment. If using graceful-fs v4.2.9 doesn't solve it, and you're not using next.js (or, if you tried `next@12.0.8-canary.19`), then you clearly have a different issue. If you can help me fix it, great! Please do so. If not, you have nothing to add, so please don't comment at all.

[2022-01-11 18:16] ljharb commented on #163
@mk-pmb thanks - is there any way to repro it on the command line?

[2022-01-11 18:19] ljharb commented on #163
@mk-pmb ah! resolve 1 has `preserveSymlinks: true` set by default. resolve _2_ has `preserveSymlinks: false` set by default.

Try setting `preserveSymlinks: false` explicitly (or try a resolve 2 prerelease).

[2022-01-11 20:37] mk-pmb commented on #163
Yes, if you run `demo.sh` in an environment similar enough to the GitHub Actions env.

You'll need GNU coreutils 8.21 or later installed. Ubuntu ships it by default, so I use that in the GitHub Actions.

Done in the `no-preserve-symlinks` branch, results are in.

[2022-01-11 21:42] ljharb commented on #163
Looks like they're all passing there.

Sounds like this can be closed?

[2022-01-11 21:42] ljharb commented on #163
[code]

Seems like it's good! Does that mean this can be closed?

[2022-01-11 23:18] mk-pmb commented on #163
The first two tests are the part that had been easy to fix ever since. The bug in my opening post is reproduced in the 3rd test case, and it still fails:

[code]

[2022-01-11 23:19] mk-pmb commented on #163
I see now why you thought it was about the pify path. I'll clarify the tutorial in the demo readme.

[2022-01-12 00:34] ljharb commented on #163
the words "global module" concern me a bit; global modules aren't requireable or resolveable (unless you use the deprecated NODE_PATHS env var, which this package intentionally doesn't support and likely never will). Can you elaborate on that one?

[2022-01-12 01:45] mk-pmb commented on #163
I'm not sure if my naming of "global" in the example is correct. I'm also not up-to-date on the deprecation. If you can determine the cause and conclude that the difference in the 3rd exampe is out of project scope, we shall instead check whether the readme could use better info about why.

[2022-01-12 01:48] mk-pmb commented on #163
However, what I can provide, is to say I didn't write anything about `NODE_PATHS` in the example repo. Also `git grep -nFe NODE_PATH` came back empty, so it hasn't crept in.

[2022-01-12 02:26] ljharb commented on #163
I'm able to cd into `home/demo/my-cool-app` and run `node app.js`, and `require.resolve` itself can't find `global-module-163` - which makes sense, since there's no `node_modules/global-module-163` present, in that directory or any above it. What do you expect will happen?

[2022-01-13 08:53] gitJoe42 opened #271 "The test/resolver/malformed_package_json/package.json leads to an fatal error when starting meteor"
Hello, I deleted the node_modules folder in my meteor app and made `meteor npm install`. After that the app can't be started and ends up with the following error:

[code]

When I changed resolve/test/resolver/malformed_package_json/package.json to a well formed package.json by adding a '}' everything is fine.

[2022-01-13 11:46] frednomoon commented on #271
Seconding this! It's is also breaking my React builds. There is clearly an issue with Version 1.21.0

[2022-01-13 16:13] ljharb commented on #271
This seems like a bug in meteor; there’s almost no reason to ever be reading a non-package-level package.json file in node_modules, and nothing in node_modules should be expected to be well-formed.

See #264.

[2022-01-13 16:13] ljharb commented on #271
Actually it looks like a bug in meteor-tool specifically, based on the stack trace. Please file an issue and link it here.

[2022-01-13 18:10] ljharb commented on #271
(to be clear: the only reason is to look for `"main"` or `"type": "module"` when doing resolution, and in either case, the only correct thing to do is ignore unparseable files, just like node itself does)

[2022-01-14 05:08] ljharb commented on #264
next@12.0.8 is released, so I'm going to close this.

Cypress still needs to do a fix (https://github.com/cypress-io/cypress/issues/19610), and meteor-tool (#271), but everything else seems to be fine, and none of this has been an actual problem with `resolve`.

Thanks for reporting!

[2022-01-14 05:08] #264 closed

[2022-01-15 02:40] mk-pmb commented on #163
I expect it will consider `~/.node_modules` at some stage, probably after `~/node_modules`.

[2022-01-15 04:58] ljharb commented on #163
@mk-pmb it doesn't and shouldn't, no - `.node_modules` is never a thing.

Either way, in your repro repo there's no `global-module-163` anywhere, so it's *supposed* to fail to resolve, best I can tell.

[2022-01-15 06:23] mk-pmb commented on #163
What do you mean by ".node_modules is never a thing."? It's still in current node master: [lib/internal/modules/cjs/loader.js](https://github.com/nodejs/node/blob/f7be6ab042059659caa1d5fd18e181f472b33f27/lib/internal/modules/cjs/loader.js#L1235)

[code]

Which explains why on GitHub Actions, node.js can successfully resolve all examples. (See logs, or example output in readme).

[code]

The resolv

[2022-01-15 16:24] ljharb commented on #163
whoa, that was not a thing I was aware of.

`resolve` has no knowledge of those paths and isn't set up to use them, and I'm not sure why anybody else would. `$HOME` shouldn't have any node_modules.

[2022-01-15 16:32] funnydino opened #272 "Fix non-valid values in .editorconfig file"
Hello.
In .editorconfig file, _insert_final_newline=off_ is not valid value.
[editorconfig-checker](https://www.npmjs.com/package/editorconfig-checker) shows fatal error at this value.
I checked the whole file at [editorconfig website](https://editorconfig.org/), and found other not valid values, and fixed them.
I don't have permissions to create pull request, so here is my suggested solution:
for

[2022-01-15 16:33] ljharb commented on #163
In other words, this issue has nothing to do with symlinks - it's about some kind of special `$HOME/.node_modules` path that nobody's ever mentioned in a decade of this package not supporting it :-) I'll update the title to reflect that.

(note that "global" means `npm root -g`; this home dir thing is something else)

[2022-01-15 16:36] ljharb commented on #163
For history's sake: https://github.com/nodejs/node/commit/5a49f96505e48d2a1aa3a21233976f41fe1257ce#diff-cdd77182e73349d6c83fbbce1cccf6f15972fbece4dbd9c52eececf1ca3bfcd5R307-R308 is in every node version since basically ever.

[2022-01-15 16:42] ljharb commented on #272
`editorconfig-checker` is old and outdated; i use npmjs.com/eclint which does support those values. There's no point in validating the editorconfig of third-party code, so I'm not sure how this came up.

Everybody has permission to make a pull request - you fork the repo, and make a PR from your fork.

[2022-01-15 16:53] #272 closed

[2022-01-16 18:38] mk-pmb commented on #163
I updated my test project;
* Fix the naming of the module to be resolved via `~/.node_modules`
* Add test for `~/.node_libraries`
* Add test for an actual global module

[2022-01-16 21:10] ljharb commented on #163
indeed; global things aren’t supposed to be requireable.

[2022-01-18 21:42] ljharb commented on #163
The current workaround for this is to pass `[$HOME/.node_libraries, $HOME/.node_modules]` as the `paths` option.

[2022-01-21 20:33] ljharb commented on #163
@mk-pmb can you confirm that https://github.com/browserify/resolve/pull/273 works for you? (or the equivalent change on 1.x)

[2022-01-21 23:35] ljharb commented on #271
@ngraef because `npm explore foo && npm install && npm test` should always work.

Good npm citizens publish their tests, in my opinion.

[2022-01-22 00:38] ngraef commented on #271
I don't agree with that statement, because in many cases it would require publishing nearly the entire contents of the project in the package. I believe making it easy to develop on the module is the job of the source repo, not the release artifacts. Regardless, this is not my package to maintain. Thank you for explaining the reasoning behind the decision, and thank you for all the maintenance wor

[2022-01-22 17:13] #163 closed

[2022-01-25 01:02] chrisbobbe commented on #262
https://github.com/facebook/flow/issues/2364

[2022-01-25 10:26] andyedwardsibm commented on #271
Another scenario is where Twistlock/Prisma scans of images that contain `resolve` report scan errors due to the malformed package.json files.  In that case the scanner is hunting through the entire image looking for package.json files and scanning those "test" files.

Would a possible "solution" be to not have `package.json` files in the test folder but to mock out `fs.readFile()` in each test?  T

[2022-01-25 14:46] ljharb commented on #271
@andyedwardsibm thats still a bug in that tool - both because if it’s scanning for dependency info, it should only be scanning package.json files that can possibly install them (at the root of packages), and also because anything scanning third-party code should never be able to assume it’s well-formed. Otherwise, it’d be a pretty trivial *attack* to add a malformed nested package.json file to a m

[2022-01-25 15:28] fernandopasik commented on #271
Found this problem as well when running flow (https://github.com/flowtype/flow-bin)

[code]

[2022-01-25 16:13] sgurin opened #274 "SyntaxError: Unexpected end of JSON input"
Hi. Found missed close brasket in app/node_modules/resolve/test/resolver/malformed_package_json/package.json

Please take a look

![image](https://user-images.githubusercontent.com/25930200/151014872-9fac889f-d9f0-4c94-a6be-6934e00d94f3.png)

[2022-01-25 17:14] ljharb commented on #274
Look at the file name. It's not missing, it's intentionally there.

Where are you getting this syntax error from? This file is a test fixture.

[2022-01-25 17:54] sgurin commented on #274
Okay, add the whole directory in ignore for typescript checker. Now it warning
![image](https://user-images.githubusercontent.com/25930200/151032101-e661200f-380a-417c-9c88-cd7e2ba2de8e.png)

[2022-01-25 18:01] ljharb commented on #274
Why is typescript checking node_modules at all?

[2022-01-25 18:03] sgurin commented on #274
Good question :) The same is why open bracket doing in package.json even for test :)

[2022-01-25 18:07] ljharb commented on #274
Because `resolve` needs to test how it behaves when a dependency has a malformed package.json. It makes perfect sense for this package.

Typescript is a linter, like eslint. You should only be linting your own code, which doesn't include anything in node_modules.

Sounds like if you fix your TS settings it'll be resolved, so I'll close this.

(#271 is related; another tool improperly scanning thin

[2022-01-25 18:07] #274 closed

[2022-01-27 10:49] mafintosh commented on #267
I think this should be as simple as { path: myPathModule } and in resolve you just do const path = nodePath || opts.path.

The usecase is what I describe above - We use urls in electron to describe content and use resolve to implement require in that system, so we need platform agnostic resolution.

[2022-01-27 14:54] ljharb commented on #267
Right, but resolve is fundamentally not designed to be used with URLs, it’s designed for filesystem paths - so I’m not clear on why it would make sense to provide a hook to change how paths are combined (especially not one entire hook for the path module, which contains implicit assumptions about how things work that would be dangerous and laborious to try to enumerate)

[2022-01-27 15:00] mafintosh commented on #267
The url path is not important. If I could just lock it to use the unix path module always, that works as well. I just need it to use /a/b/c paths always disregarding the os, instead of c:\a\b\c when run on windows

[2022-01-27 15:04] ljharb commented on #267
ahhh, thanks, that does clarify a bit. Is replacing path.sep with ‘ not an option?

[2022-01-27 20:45] ljharb commented on #267
hmm - from a windows absolute path, if you only care about relative paths, would it not be ``` `./${path.relative(result, process.cwd()).replace(path.sep, '/')}` ```?

[2022-01-28 04:00] mafintosh commented on #267
No, cause the files are resolved in a “virtual fs” using the readFile etc options. In anycase this issue was to support a simple thing to make it platform agnostic, I have a workaround. Happy to PR it or feel free to close this issue if not interested

[2022-01-28 05:45] ljharb commented on #267
I mean, I'd like to find a way to make what you need to do easier, without drastically widening the API surface of `resolve`.

`resolve` is already platform agnostic by its use of the core `path` module - it's that electron is trying to use it for URLs in a way it's not intended to be.

If the files are resolved in a virtual filesystem, could - on windows - the virtual filesystem use backslashes?

[2022-01-31 18:34] ljharb commented on #271
@robertfoobar it's not really possible to have "sensitive information or functions" in test files for a language like javascript; that CWE doesn't apply here.

[2022-01-31 19:02] robertfoobar commented on #271
@ljharb That's not the point. My point is that this approach violates general best practices, namely

and, in doing so, causes additional problems for others. 😕

[2022-01-31 19:48] ljharb commented on #271
@robertfoobar that's not been a best practice in the npm ecosystem, historically.

What I see is that it's not caused problems, it's *exposed* flaws in existing tools - flaws that have made them run MUCH slower than they need to, because they're scanning WAY more files than they need to.

[2022-02-08 22:45] alansikora commented on #271
Having this file, named `package.json`, inside a test directory, on a dist build made me lose 2 days of work.

Test code on shipped code does not make sense, I believe the authors already tested it when it was built.

[2022-02-08 22:47] ljharb commented on #271
@alansikora node versions are released after it's shipped, and nothing's tested on every possible runtime environment. deps shipping the tests means i can easily make sure those deps are behaving as expected, even on my idiosyncratic setups.

[2022-02-10 16:07] SimenB commented on #253
`pathFilter` is working out well 👍

Would be nice to have some way of disabling `main` and the `index.js` in root stuff if there is `exports`, but I guess doing that in isolation doesn't make much sense. And ignoring it manually isn't too bad

[2022-02-10 17:45] ljharb commented on #253
Once we have true "exports" support, it'll take precedence over the "main" anyways, so you won't need to ignore that.

[2022-02-10 18:24] SimenB commented on #253
Yeah, figured it'd make more sense to go straight there instead of some intermediary step 🙂

[2022-02-17 14:26] SimenB commented on #253
Ok, closing again 🙈 My solution is to pop of anything trailing after `pkg/` or `@scope/pkg/`, add `./package.json` and resolve that using `resolve`, and if `package.json` has `exports` resolve those and return the full path. No `packageFilter` or `pathFilter` at all. In theory a tiny bit faster as well as we head straight for the `package.json` file and potentially shortcut instead of traversing a

[2022-02-18 19:00] broofa opened #277 "Exclude non-essential files from published package (especially test/**)"
Excluding the `test` directory from the `npm publish`ed files will shave ~75% off the size of the package.

'Probably want to also exclude `appveyor.yml` and `example`.

[code]

[2022-02-18 19:04] ljharb commented on #277
They are in fact quite essential; they’re included by design. `npm install foo && npm explore foo && npm install && npm test` should always work.

Duplicate of #258. Duplicate of #207. Duplicate of #171. Duplicate of #180. See not just #82, but https://github.com/browserify/resolve/pull/149#pullrequestreview-96750692, https://github.com/browserify/resolve/pull/132#pullrequestreview-52259150, https

[2022-02-18 20:11] broofa commented on #277
This doesn't seem like a valid reason for shipping test files in production.  I've never once had a case where a user expected this to work, nor where I felt it would have been helpful.

Bottom line: Test scripts just aren't something anyone expects to run as part of a production environment.  In part because production environments often go through additional toolchains that will break this sort

[2022-02-18 20:17] ljharb commented on #277
Sure - but the other bottom line is that package size *doesn't matter* in practice - what matters is the memory or bundle size of your program, and none of these files affect that. There's certainly tools that try to imply that package size matters, but this is just FUD.

[2022-04-22 13:23] naugtur opened #280 "Improvement idea - globally configurable helper functions"
**Context**

I was diagnosing performance of an app scanning node_modules. It turned out half of the time is spent in isDirectory on the few cases where it was looking for a missing folder.

What helped was passing in an isDirectory implementation that bails out if the path has gone out of the current folder.

For cases of using `resolve` hundreds of thousands of times in a build process etc. doin

[2022-04-22 13:59] ljharb commented on #280
Statefulness wouldn’t be an improvement; but I’m pretty unclear on why they’d need to be stored on the function.

You could certainly make a wrapper module that has a stateful isDirectory as well.

Performance improvements that don’t involve state are most welcome.

[2022-04-23 18:44] naugtur commented on #280
I don't mean adding state but exposing the default implementations of helper functions so they can be overwritten.
My previous description was... written in a rush and a bit messy.

If I could do resolve.defaults.isDirectory = myfunc that'd be it

If that's also considered unwanted state, I'm convinced I need to work on a different angle for this. Maybe I'll monkey patch fs 😉

[2022-04-23 22:11] ljharb commented on #280
That would still be state, and it would break other consumers just as if you modified Array.prototype.

[2022-04-29 03:46] ljharb commented on #271
It has zero impact on bundle size, since only imported files end up in the bundle. Issues like this only happen when tools do incorrect things - namely, looking at package.json filed naively instead of only directly inside package boundaries.

The only impact it has (módulo broken tools) is on install size, and very little on that.

[2022-05-10 18:46] jason-ha commented on #277
@broofa Very much agree. Jordan did not reference #235 where we had a longer discussion that was eventually not replied to. It seems that Jordan is very convinced despite reoccurring requests. I am back here checking on things because security scanning tools continue to crawl though this dependency and find issues. With such demand out there it would be helpful to provide community with the option